<div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-10 items-start gap-4">
  <% yield # WTF!? https://stackoverflow.com/a/65580115 %>

  <div class="lg:col-span-4">
    <%= yield :explainer %>
  </div>

  <div class="lg:col-span-8">
    <%= yield %>
  </div>
</div>
