<div data-railsui-configuration-target="saving" data-railsui-loading-target="saving" class="rui-config-loader">
  <div class="rui:flex rui:flex-col rui:justify-center rui:h-full rui:items-center rui:relative rui:z-50">
    <div class="rui:mb-6">
      <%= image_tag "railsui-light.svg", class: "rui:invert" %>
    </div>
    <h3 class="rui:text-2xl rui:text-white rui:font-bold rui:text-center rui:mb-3">Saving changes...</h3>
    <p class="text-white text-center mb-3">This could take a few moments</p>

    <svg class="rui:w-10 rui:h-10 rui:stroke-white" width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
      <g fill="none" fill-rule="evenodd" stroke-width="2">
        <circle cx="22" cy="22" r="1">
          <animate attributeName="r"
                begin="0s" dur="1.8s"
                values="1; 20"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.165, 0.84, 0.44, 1"
                repeatCount="indefinite" />
          <animate attributeName="stroke-opacity"
                begin="0s" dur="1.8s"
                values="1; 0"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.3, 0.61, 0.355, 1"
                repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="1">
          <animate attributeName="r"
                begin="-0.9s" dur="1.8s"
                values="1; 20"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.165, 0.84, 0.44, 1"
                repeatCount="indefinite" />
          <animate attributeName="stroke-opacity"
                begin="-0.9s" dur="1.8s"
                values="1; 0"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.3, 0.61, 0.355, 1"
                repeatCount="indefinite" />
        </circle>
      </g>
    </svg>
  </div>
  <canvas id="canvas" data-controller="railsui-canvas" class="rui:fixed rui:inset-x-0 rui:top-96 rui:bottom-0 rui:w-full rui:h-full rui:overflow-hidden rui:transform rui:rotate-10"></canvas>
</div>
