<div data-railsui-configuration-target="saving" data-railsui-loading-target="saving" class="config-loader">
  <div class="flex flex-col justify-center h-full items-center relative z-50">
    <div class="mb-6">
      <%= image_tag "railsui-light.svg", class: "invert" %>
    </div>
    <h3 class="text-2xl text-white font-bold text-center mb-3">Saving changes...</h3>
    <p class="text-white text-center mb-3">This could take a few moments</p>

    <svg class="w-10 h-10 stroke-white" width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
      <g fill="none" fill-rule="evenodd" stroke-width="2">
        <circle cx="22" cy="22" r="1">
          <animate attributeName="r"
                begin="0s" dur="1.8s"
                values="1; 20"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.165, 0.84, 0.44, 1"
                repeatCount="indefinite" />
          <animate attributeName="stroke-opacity"
                begin="0s" dur="1.8s"
                values="1; 0"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.3, 0.61, 0.355, 1"
                repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="1">
          <animate attributeName="r"
                begin="-0.9s" dur="1.8s"
                values="1; 20"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.165, 0.84, 0.44, 1"
                repeatCount="indefinite" />
          <animate attributeName="stroke-opacity"
                begin="-0.9s" dur="1.8s"
                values="1; 0"
                calcMode="spline"
                keyTimes="0; 1"
                keySplines="0.3, 0.61, 0.355, 1"
                repeatCount="indefinite" />
        </circle>
      </g>
    </svg>
  </div>
  <canvas id="canvas" data-controller="railsui-canvas" class="fixed inset-x-0 top-96 bottom-0 w-full h-full overflow-hidden transform rotate-10"></canvas>
</div>
