<% if notice %>
  <div class="bg-indigo-600 text-white text-center p-4" role="alert">
    <p><%= sanitize notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="bg-rose-600 text-white text-center p-4" role="alert">
    <p><%= sanitize alert %></p>
  </div>
<% end %>
