<div class="rui">
  <div class="container mt-6">
    <div class="row">
      <div class="col-md-5">
        <h2 class="display-6">Edit account</h2>
        <p class="text-muted">Manage personal details and login credentials.</p>
      </div>
      <div class="col-md-7">
        <div class="border p-5 rounded">
          <form class="edit_user" id="edit_user" action="#" accept-charset="UTF-8" method="#" class="tw-pointer-events-none">
            <input type="hidden" name="_method" value="put" autocomplete="off">
            <input type="hidden" name="authenticity_token" value="#" autocomplete="off">

            <div class="mb-4">
              <label class="form-label" for="user_email">Email</label>
              <input autofocus="autofocus" autocomplete="email" class="form-control" type="email" value="admin@example.com" name="user[email]" id="user_email">
            </div>

            <div class="mb-4">
              <label class="form-label" for="user_password">Password</label>
              <input autocomplete="new-password" class="form-control" type="password" name="user[password]" id="user_password">
              <span class="form-text">Leave blank if you don't want wish to change it.</span>
              <span class="form-text">6 characters minimum</span>
            </div>

            <div class="mb-4">
              <label class="form-label" for="user_password_confirmation">Password confirmation</label>
              <input autocomplete="new-password" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
            </div>

            <div class="mb-4">
              <label class="form-label" for="user_current_password">Current password</label>
              <input autocomplete="current-password" class="form-control" type="password" name="user[current_password]" id="user_current_password">
              <div class="form-text">We need your current password to confirm your changes.</div>
            </div>

            <div class="mb-4">
              <input type="submit" name="commit" value="Update" class="btn btn-primary btn-lg tw-pointer-events-none">
            </div>
          </form>
          <div>
            <form class="button_to" method="post" action="/users"><input type="hidden" name="_method" value="delete" autocomplete="off"><button data-confirm="Are you sure?" class="btn btn-link text-muted p-0 tw-pointer-events-none" type="submit">Cancel account</button><input type="hidden" name="authenticity_token" value="#" autocomplete="off"></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tw-max-w-3xl tw-mx-auto tw-my-16">
<% content_for :erb, flush: true do %>
<!-- app/views/devise/registrations/edit.html.erb-->
<div class="container mt-6">
  <div class="row">
    <div class="col-md-5">
      <h2 class="display-6">Edit account</h2>
      <p class="text-muted">Manage personal details and login credentials.</p>
    </div>
    <div class="col-md-7">
      <div class="border p-5 rounded">
      <%%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
        <%%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-4">
          <%%= f.label :email, class: "form-label" %>
          <%%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <%% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-text">Currently waiting confirmation for: <%%= resource.unconfirmed_email %></div>
        <%% end %>

        <div class="mb-4">
          <%%= f.label :password, class: "form-label" %>
          <%%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <span class="form-text">Leave blank if you don't want wish to change it.</span>
          <%% if @minimum_password_length %>
            <span class="form-text"><%= @minimum_password_length %> characters minimum</span>
          <%% end %>
        </div>

        <div class="mb-4">
          <%%= f.label :password_confirmation, class: "form-label" %>
          <%%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-4">
          <%%= f.label :current_password , class: "form-label" %>
          <%%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <div class="form-text">We need your current password to confirm your changes.</div>
        </div>

        <div class="mb-4">
          <%%= f.submit "Update", class: "btn btn-primary btn-lg" %>
        </div>
      <%% end %>

      <div>
        <%%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link text-muted p-0" %>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/registrations/edit.html.haml
.container.mt-6
  .row
    .col-md-5
      %h2.display-6 Edit account
      %p.text-muted Manage personal details and login credentials.
    .col-md-7
      .border.p-5.rounded
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .mb-4
            = f.label :email, class: "form-label"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          if devise_mapping.confirmable? && resource.pending_reconfirmation?
            .form-text Currently waiting confirmation for:
            = resource.unconfirmed_email
          .mb-4
            = f.label :password, class: "form-label"
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
            %span.form-text Leave blank if you don't want wish to change it.
          if @minimum_password_length
            span.form-text
              = @minimum_password_length
              characters minimum
          .mb-4
            = f.label :password_confirmation, class: "form-label"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
          .mb-4
            = f.label :current_password , class: "form-label"
            = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
            .form-text We need your current password to confirm your changes.
          .mb-4
            = f.submit "Update", class: "btn btn-primary btn-lg"
          %div
            = button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link text-muted p-0"
<% end %>

<%= render_snippet(active_tab: "erb") %>
</div>
