<div class="tw-border-b">

<div class="rui tw-full">
  <div class="row g-0 vh-100 align-items-center">
    <div class="col-lg-6 col-md-12 vh-100 d-flex align-items-center px-3 px-lg-6">
      <div class="col-md-8 col-12 mx-auto">
        <a href="#">
          <%= image_tag Railsui.theme_logo_url, alt: "#{Railsui.config.theme.humanize} logo" %>
        </a>
        <h1 class="display-5 mb-4 mt-6">Sign up</h1>

        <p>Or <a href="#" class="text-decoration-none">sign in</a> to your account</p>
        <form action="#">
          <div class="mb-4">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="email" placeholder="Jane Doe" class="form-control">
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" placeholder="jane.doe@example.com" class="form-control">
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" class="form-control">
          </div>
          <div class="mb-4">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input id="confirm_password" type="password" class="form-control">
          </div>
          <div class="d-grid">
            <input type="submit" value="Sign in" class="btn btn-primary btn-lg" />
          </div>
        </form>

      </div>
    </div>
    <div class="col-md-6 retriever-auth-bg vh-100 d-flex align-items-center justify-content-center">
      <%= image_tag "sample-tweet.svg", alt: "A sample tweet to use for a testimonial", class: "img-fluid" %>
    </div>
  </div>
</div>
</div>

<div class="tw-max-w-4xl tw-mx-auto tw-my-16">

<% content_for :erb, flush: true do %>
<%%= render "auth_layout" do %>
  <%% content_for :featured_block do %>
    <%%= image_tag "tweet.svg", alt: "A sample tweet to use for a testimonial", class: "img-fluid" %>
  <%% end %>

  <h1 class="display-5 mb-4 mt-6">Sign up</h1>

  <p class="mb-4">Or <%%= link_to "Sign in", new_session_path(resource_name) %> to your account.</p>

  <%%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%%= f.label :email, class: "form-label" %>
      <%%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mb-4">
      <%%= f.label :password, class: "form-label" %>
      <%%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <%% if @minimum_password_length %>
        <div class="form-text">(<%%= @minimum_password_length %> characters minimum)</div>
      <%% end %>
    </div>

    <div class="mb-4">
      <%%= f.label :password_confirmation, class: "form-label" %>
      <%%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="d-grid">
      <%%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
    </div>
  <%% end %>
<%% end %>

<% end %>

<% content_for :haml, flush: true do %>
= render "auth_layout" do
  - content_for :featured_block do
    = image_tag "tweet.svg", alt: "A sample tweet to use for a testimonial", class: "img-fluid"
  %h1.display-5.mb-4.mt-6 Sign up
  %p.mb-4
    Or #{link_to "Sign in", new_session_path(resource_name)} to your account.
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .mb-4
      = f.label :email, class: "form-label"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .mb-4
      = f.label :password, class: "form-label"
      = f.password_field :password, autocomplete: "new-password", class: "form-control"
      - if @minimum_password_length
        .form-text
          (#{@minimum_password_length} characters minimum)
    .mb-4
      = f.label :password_confirmation, class: "form-label"
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    .d-grid
      = f.submit "Sign up", class: "btn btn-primary btn-lg"
<% end %>

  <%= render_snippet(active_tab: "erb") %>
</div>
