<div class="tw-border-b">
<div class="rui">
  <div class="row g-0 vh-100 align-items-center">
    <div class="col-lg-6 col-md-12 vh-100 d-flex align-items-center px-3 px-lg-6">
      <div class="col-md-8 col-12 mx-auto">
        <a href="/" class="tw-pointer-events-none">
          <%= image_tag Railsui.theme_logo_url, alt: "#{Railsui.config.theme.humanize} logo" %>
        </a>

        <h1 class="display-5 mb-4 mt-6">Sign in</h1>

        <p class="mb-4">Or <a href="#" class="tw-pointer-events-none">Sign up</a> for an account.</p>

        <form class="new_user" id="new_user" action="#" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="#" autocomplete="off">

          <div class="mb-4">
            <label class="form-label" for="user_email">Email</label>
            <input autofocus="autofocus"  class="form-control" type="email" value="" name="user[email]" id="user_email">
          </div>

          <div class="mb-4">
            <label class="form-label" for="user_password">Password</label>
            <input class="form-control" type="password" name="user[password]" id="user_password">
          </div>

          <div class="form-check mb-4">
            <label class="form-check-label" for="user_remember_me">Remember me</label>
            <input name="user[remember_me]" type="hidden" value="0" autocomplete="off"><input class="form-check-input" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
          </div>

          <div class="d-grid mb-4">
            <input type="submit" name="commit" value="Sign in" class="btn btn-primary btn-lg tw-pointer-events-none">
          </div>
        </form>

        <p class="mb-3">
          <a class="text-muted text-decoration-underline tw-pointer-events-none" href="#">Forgot password?</a>
        </p>

      </div>
    </div>
    <div class="retriever-auth-bg col-md-6 vh-100 d-flex align-items-center justify-content-center">
      <%= image_tag "sample-tweet.svg", alt: "A sample tweet to use for a testimonial", class: "img-fluid" %>
    </div>
  </div>
</div>
</div>


<div class="tw-max-w-4xl tw-mx-auto tw-my-16">

<% content_for :erb, flush: true do %>
<!-- app/views/devise/sessions/new.html.erb-->
<%%= render "auth_layout" do %>

  <!-- Choose what content to feature on the right side of the design -->
  <%% content_for :featured_block do %>
    <%%= image_tag "sample-tweet.svg", alt: "A sample tweet to use for a testimonial", class: "img-fluid" %>
  <%% end %>

  <h1 class="display-5 mb-4 mt-6">Sign in</h1>

  <p class="mb-4">Or <%%= link_to "Sign up", new_user_registration_path %> for an account.</p>

  <%%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%%= f.label :email, class: "form-label" %>
      <%%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mb-4">
      <%%= f.label :password, class: "form-label" %>
      <%%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <%% if devise_mapping.rememberable? %>
      <div class="form-check mb-4">
        <%%= f.label :remember_me, class: "form-check-label" %>
        <%%= f.check_box :remember_me, class: "form-check-input" %>
      </div>
    <%% end %>

    <div class="d-grid mb-4">
      <%%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
    </div>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/sessions/new.html.haml

= render "auth_layout" do
  / Choose what content to feature on the right side of the design
  - content_for :featured_block do
    = image_tag "sample-tweet.svg", alt: "A sample tweet to use for a testimonial", class: "img-fluid"
  %h1.display-5.mb-4.mt-6 Sign in
  %p.mb-4
    Or #{link_to "Sign up", new_user_registration_path} for an account.
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .mb-4
      = f.label :email, class: "form-label"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .mb-4
      = f.label :password, class: "form-label"
      = f.password_field :password, autocomplete: "current-password", class: "form-control"
    - if devise_mapping.rememberable?
      .form-check.mb-4
        = f.label :remember_me, class: "form-check-label"
        = f.check_box :remember_me, class: "form-check-input"
    .d-grid.mb-4
      = f.submit "Sign in", class: "btn btn-primary btn-lg"
<% end %>

<%= render_snippet(active_tab: "erb") %>



</div>
