<div class="mb-16">
  <%= render "railsui/shared/sticky_subhead", title: "Dropdowns", subtitle: "Right aligned" %>


<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>

<% end %>

<% content_for :haml, flush: true do %>

<% end %>

<%= render_snippet %>
</div>
