<% content_for :header_description do %>
  <p>A set of expandable headings that reveal or hide sections of content when clicked.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/accordion" %>
