<% content_for :header_description do %>
  <p>Displays a callout for user attention.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/alert" %>
