<% content_for :header_description do %>
  <p>Guidelines for common avatar shapes and sizes.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/avatar" %>
