<% content_for :header_description do %>
<p>Breadcrumbs are useful for keeping track of your location in a website's hierarchy and making it easy to go back if you need to.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/breadcrumb" %>
