<% content_for :header_description do %>
  <p>Displays a button or a component that looks like a button.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/button" %>
