<% content_for :header_description do %>
  <p>A container that organizes stuff neatly. Cards are great for showing off different items or sections, keeping things tidy and easy to understand for users.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/card" %>
