<% content_for :header_description do %>
  <p>Autocomplete input and command palette with a list of suggestions.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/combobox" %>
