<% content_for :header_description do %>
  <p>Displays a menu as a set of actions or functions — triggered by a button.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/dropdown" %>
