<% content_for :header_description do %>
  <p>Displays an alert or notice message after something updates in a given Rails app.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/flash" %>
