<% content_for :header_description do %>
  <p>A collection of links for navigating websites.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/navigation" %>
