<% content_for :header_description do %>
  <p>Utility page navigation which includes next and previous links.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/pagination" %>
