<% content_for :header_description do %>
  <p>An arrangement of tab panels, each revealing layered sections of content one at a time.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/components/tab" %>
