<li class="rui:relative">
  <div class="<%= box_label_classes(offset: false) %>">
    <div class="rui:rounded-sm rui:bg-emerald-500 rui:text-white rui:text-[11px] rui:uppercase rui:font-bold rui:font-system rui:tracking-wide rui:px-1 rui:inline-flex rui:items-center rui:py-0 rui:h-4">Installed</div>
    <p class="rui:leading-tight rui:block"><%= local_assigns[:label] %></p>

    <p class="rui:text-slate-500 rui:text-sm rui:block rui:lg:mb-0 rui:mt-1 rui:mb-3 rui:dark:text-slate-300"><%= local_assigns[:description] %></p>

    <%= link_to "Preview", local_assigns [:preview_link], class: "rui:text-slate-700 rui:lg:ml-2 rui:lg:ml-8 rui:mt-2 rui:lg:mt-0 rui:lg:block rui:lg:absolute rui:right-4 rui:top-5 rui:px-3 rui:lg:py-px rui:py-2 rui:text-[15px] rui:bg-slate-50 rui:rounded-sm rui:hover:bg-slate-100 rui:transition rui:ease-in-out rui:duration-300 rui:border-slate-300 rui:border rui:hover:shadow-none rui:shadow-xs rui:hover:text-slate-900 rui:dark:bg-indigo-500 rui:dark:border-indigo-500 rui:dark:text-white rui:dark:hover:bg-indigo-600 rui:dark:hover:text-white", target: :_blank %>
  </div>
</li>
