<li class="relative">
  <div class="<%= box_label_classes(offset: false) %>">
    <div class="rounded bg-emerald-500 text-white text-[11px] uppercase font-bold font-system tracking-wide px-1 inline-flex items-center py-0 h-4">Installed</div>
    <p class="leading-tight block"><%= local_assigns[:label] %></p>

    <p class="text-slate-500 text-sm block lg:mb-0 mt-1 mb-3 dark:text-slate-300"><%= local_assigns[:description] %></p>

    <%= link_to "Preview", local_assigns [:preview_link], class: "text-slate-700 lg:ml-2 lg:ml-8 mt-2 lg:mt-0 lg:block lg:absolute right-4 top-5 px-3 lg:py-px py-2 text-[15px] bg-slate-50 rounded hover:bg-slate-100 transition ease-in-out duration-300 border-slate-300 border hover:shadow-none shadow-sm hover:text-slate-900 dark:bg-indigo-500 dark:border-indigo-500 dark:text-white hover:dark:bg-indigo-600 hover:dark:text-white", target: :_blank %>
  </div>
</li>
