<div class="my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Select" %>

  <div class="rui dark:p-6 dark:rounded-lg">
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <%# .html %>
<% content_for :html, flush: true do %>
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<% end %>

  <%# .erb %>
<% content_for :erb, flush: true do %>
<!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.select class: "form-select", "aria-label": "Default select example" do %>
  <%%= tag.option "Open this select menu", selected: true %>
  <%%= tag.option "One", value: "1" %>
  <%%= tag.option "Two", value: "2" %>
  <%%= tag.option "Three", value: "3" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_with model: @form do |f| %>
  <%%= f.label :select_1, "Default select example", class: "form-label" %>
  <%%= f.select :select_1, options_for_select([["One", "1"], ["Two", "1"], ["Three", "1"]]), { prompt: "Open this select menu" }, { class: "form-select", "aria-label": "Default select example" } %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormHelper
= form_with model: @form do |f|
.mb-3
  = f.label :select_1, "Default select example", class:  "form-label"
  = f.select :select_1, options_for_select([["One", "1"], ["Two", "1"], ["Three", "1"]]), { prompt: "Open this select menu" }, { class: "form-select", "aria-label": "Default select example" }
= f.submit class: "btn btn-primary"
<% end %>
<%= render_snippet %>
</div>

<%= system_pagination(prev_path: systems_forms_input_groups_path, prev_text: "Input Groups", next_path: systems_forms_checkboxes_and_radios_path, next_text: "Checkboxes & Radios") %>

<%= render "railsui/shared/read_more", subject: "selects",
link: "https://getbootstrap.com/docs/#{Railsui::Default::BOOTSTRAP_VERSION}/forms/select/" %>
