<div class="mb-16 mt-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Validation" %>

  <div class="prose dark:prose-invert mb-6">
    <p>Extend form errors to leverage Rails UI + Bootstrap error alerts.</p>
  </div>

  <div class="my-6">
    <p class="font-semibold mb-3">Example errors</p>
    <div class="rui dark:p-6 dark:rounded-lg">
      <form action="#">
        <div class="alert alert-danger" role="alert">
          <p class="fw-bold">3 errors prohibited this post from being saved:</p>
          <ul class="list-disc">
            <li>Title can't be blank</li>
            <li>Body can't be blank</li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="validation_1" class="form-label">Example field</label>
          <input type="text" class="form-control" id="validation_1" placeholder="Example field">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

<% content_for :erb, flush: true do %>
<!-- app/views/shared/error_messages.html.erb -->

<%% if resource.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p class="fw-bold"><%%= pluralize(resource.errors.count, "error") %> prohibited this post from being saved:</p>

  <ul class="list-disc">
    <%% resource.errors.each do |error| %>
      <li><%%= error.full_message %></li>
      <%% end %>
    </ul>
  </div>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/shared/error_messages.haml.erb

- if resources.errors.any?
  .alert.alert-danger{:role=> "alert"}
    %p.fw-bold= #{pluralize(resource.errors.count, "error")} prohibited this post from being saved:
    %ul.list-disc
      - resource.errors.each do |error|
        %li
          = error.full_message
<% end %>
<%= render_snippet active_tab: "erb" %>
  </div>
