<div class="my-16">

<%= render "railsui/shared/sticky_subhead", title: "Breadcrumbs", subtitle: "Dark simple" %>

<%= render preview "dark_zinc" do %>
<div class="flex justify-center">
  <nav aria-label="breadcrumb" class="my-6 font-heading flex text-zinc-200 text-sm">
    <ol class="flex flex-wrap items-center space-x-3 list-none m-0 p-0">
      <li>
        <a href="#" class="hover:underline text-primary-500" data-controller="prevent" data-action="click->prevent#prevent">Home</a>
      </li>
      <li class="flex space-x-3">
        <div class="flex items-center">
          <span class="text-zinc-500">/</span>
        </div>
        <a href="#" class="hover:underline text-primary-500" data-controller="prevent" data-action="click->prevent#prevent">Library</a>
      </li>
      <li class="flex space-x-3">
        <div class="flex items-center">
          <span class="text-zinc-500">/</span>
        </div>
        <a href="#" aria-current="page" class="text-zinc-100" data-controller="prevent" data-action="click->prevent#prevent">Data</a>
      </li>
    </ol>
  </nav>
</div>
<% end %>

<% content_for :html, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-heading flex text-zinc-200 text-sm">
  <ol class="flex flex-wrap items-center space-x-3 list-none m-0 p-0">
    <li>
      <a href="#" class="hover:underline text-primary-500">Home</a>
    </li>
    <li class="flex space-x-3">
      <div class="flex items-center">
        <span class="text-zinc-500">/</span>
      </div>
      <a href="#" class="hover:underline text-primary-500">Library</a>
    </li>
    <li class="flex space-x-3">
      <div class="flex items-center">
        <span class="text-zinc-500">/</span>
      </div>
      <a href="#" aria-current="page" class="text-zinc-100">Data</a>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :erb, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-heading flex text-zinc-200 text-sm">
  <ol class="flex flex-wrap items-center space-x-3 list-none m-0 p-0">
    <li>
      <%%= link_to "Home", "#", class: "hover:underline text-primary-500" %>
    </li>
    <li class="flex space-x-3">
      <div class="flex items-center">
        <span class="text-zinc-500">/</span>
      </div>
      <%%= link_to "Library", "#", class: "hover:underline text-primary-500" %>
    </li>
    <li class="flex space-x-3">
      <div class="flex items-center">
        <span class="text-zinc-500">/</span>
      </div>
      <%%= link_to "Home", "#", class: "text-zinc-100", data: { "aria-current": "page" } %>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :haml, flush: true do %>
%nav.my-6.font-heading.flex.text-zinc-200.text-sm(aria-label="breadcrumb")
  %ol.flex.flex-wrap.items-center.space-x-3.list-none.m-0.p-0
    %li
      = link_to "Home", "#", class: "hover:underline text-primary-500"
    %li.flex.space-x-3
      .flex.items-center
        %span.text-zinc-500 /
      = link_to "Library", "#", class: "hover:underline text-primary-500"
    %li.flex.space-x-3
      .flex.items-center
        %span.text-zinc-500 /
      = link_to "Home", "#", class: "text-zinc-100", data: { "aria-current": "page" }
<% end %>

<%= render_snippet %>
</div>
