<div class="my-16">

<%= render "railsui/shared/sticky_subhead", title: "Breadcrumbs", subtitle: "Dark contained" %>

<%= render preview("dark_zinc") do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-zinc-200 text-sm bg-zinc-800 rounded items-center border-zinc-600/80 border overflow-hidden sm:py-0 py-4">
  <ol class="flex items-center justify-star space-x-6 px-4 list-none">
    <li class="sm:h-12 flex items-center justify-center">
      <a href="#" class="hover:underline text-primary-500 hover:text-primary-600 inline-block pl-2 group" data-controller="prevent" data-action="click->prevent#prevent">
        <%= icon "home", classes: "w-5 h-5 text-zinc-300 group-hover:text-primary-500" %>
        <span class="sr-only">Home</span>
      </a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <a href="#" class="hover:underline text-primary-500 hover:text-primary-600" data-controller="prevent" data-action="click->prevent#prevent">Library</a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <a href="#" aria-current="page" class="text-zinc-100" data-controller="prevent" data-action="click->prevent#prevent">Data</a>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :html, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-zinc-200 text-sm bg-zinc-800 rounded items-center border-zinc-600/80 border overflow-hidden sm:py-0 py-4">
  <ol class="flex items-center justify-star space-x-6 px-4 list-none">
    <li class="sm:h-12 flex items-center justify-center">
      <a href="#" class="hover:underline text-primary-500 hover:text-primary-600 inline-block pl-2 group">
        <%%= icon "home", classes: "w-5 h-5 text-zinc-300 group-hover:text-primary-500" %>
        <span class="sr-only">Home</span>
      </a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <a href="#" class="hover:underline text-primary-500 hover:text-primary-600">Library</a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <a href="#" aria-current="page" class="text-zinc-100">Data</a>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :erb, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-zinc-200 text-sm bg-zinc-800 rounded items-center border-zinc-600/80 border overflow-hidden sm:py-0 py-4">
  <ol class="flex items-center justify-star space-x-6 px-4 list-none">
    <li class="sm:h-12 flex items-center justify-center">
      <%%= link_to "#", class: "hover:underline text-primary-500 hover:text-primary-600 inline-block pl-2 group" do %>
        <%%= icon "home", classes: "w-5 h-5 text-zinc-300 group-hover:text-primary-500" %>
        <span class="sr-only">Home</span>
      <%% end %>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <%%= link_to "Library", "#", class: "hover:underline text-primary-500 hover:text-primary-600"%>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <%%= link_to "Data", "#", class: "text-zinc-100", data: { "aria-current": "page" } %>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :haml, flush: true do %>
%nav.my-6.font-medium.flex.text-zinc-200.text-sm.bg-zinc-800.rounded.items-center.border.overflow-hidden.sm:py-0.py-4(aria-label="breadcrumb" class="border-zinc-600/80")
  %ol.flex.items-center.justify-star.space-x-6.px-4.list-none
    %li.sm:h-12.flex.items-center.justify-center
      = link_to "#", class: "hover:underline text-primary-500 hover:text-primary-600 inline-block pl-2 group" do
        = icon "home", classes: "w-5 h-5 text-zinc-300 group-hover:text-primary-500"
        %span.sr-only Home
    %li.sm:h-12.flex.items-center.space-x-2.justify-center
      = link_to "Library", "#", class: "hover:underline text-primary-500 hover:text-primary-600"
    %li.sm:h-12.flex.items-center.space-x-2.justify-center
      = link_to "Data", "#", class: "text-zinc-100", data: { "aria-current": "page" }
<% end %>

<%= render_snippet %>
</div>
