<div class="mb-16">
  <%= render "railsui/shared/sticky_subhead", title: "Pagination", subtitle: "Dark" %>

<%= render preview_dark do %>
<div class="flex flex-wrap md:justify-between justify-center items-center space-y-2">
    <p class="text-slate-100 text-sm block w-full md:w-auto md:text-left text-center">Viewing page <strong>1</strong> with <strong>24</strong> results per page</p>
    <nav aria-label="Page navgiation" class="text-slate-100 md:text-sm text-base font-medium w-auto flex">
      <ul class="flex flex-wrap items-center justify-center w-auto shadow-sm">
        <li class="flex justify-start items-center">
          <a href="#" class="bg-slate-800 inline-flex justify-center items-center md:py-2 py-[.63rem] px-2 rounded-l hover:bg-slate-700 group hover:text-indigo-600 md:w-auto w-full border-slate-700">
            <%= icon "arrow-small-left", classes: "w-5 h-5 text-white/5- group-hover:text-slate-200", title: "Previous" %>
          </a>
        </li>
        <li>
          <a href="#" class="inline-flex items-center py-2 px-4 bg-indigo-700 text-white hover:bg-indigo-800 border-indigo-700 hover:border-indigo-800 shadow-inner">1</a>
        </li>
        <li>
          <a href="#" class="bg-slate-800 inline-flex items-center py-2 px-4 hover:bg-slate-700">2</a>
        </li>
        <li>
          <a href="#" class="bg-slate-800 inline-flex items-center py-2 px-4 hover:bg-slate-700">3</a>
        </li>
        <li class="md:block hidden">
          <span href="#" class="bg-slate-800 inline-flex items-center py-2 px-3 select-none pointer-events-none">&hellip;</span>
        </li>
        <li>
          <a href="#" class="inline-flex items-center py-2 px-4 bg-slate-800 hover:bg-slate-700">8</a>
        </li>
        <li>
          <a href="#" class="bg-slate-800 inline-flex items-center py-2 px-4 hover:bg-slate-700">9</a>
        </li>
        <li>
          <a href="#" class="bg-slate-800 inline-flex items-center py-2 px-4 hover:bg-slate-700">10</a>
        </li>
        <li class="flex justify-end items-center">
          <a href="#" class="bg-slate-800 inline-flex justify-center items-center md:py-2 py-[.63rem] px-2 rounded-r hover:bg-slate-700 group hover:text-indigo-600 md:w-auto w-full">
            <%= icon "arrow-small-right", classes: "w-5 h-5 text-white/50 group-hover:text-slate-200", title: "Next" %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
<% end %>


</div>
