<div class="tw-my-6">
  <div class="rui-bs">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Andy</td>
          <td>L.</td>
          <td>@railsui_</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Web</td>
          <td>Crunch</td>
          <td>@webcrunchblog</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">justalever</td>
          <td>@justalever</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
