<div class="tw-my-6">
  <p class="tw-text-gray-600 tw-font-light tw-text-xl tw-mb-4">Headings</p>

  <div class="rui-bs tw-mb-16">
    <div class="mb-4">
      <h1>A quick brown fox jumps over the lazy dog.</h1>
      <p class="text-muted">h1(.h1) &mdash; 40px (2.5rem) / 48px (1.2)</p>
    </div>

    <div class="mb-4">
      <h2>A quick brown fox jumps over the lazy dog.</h2>
      <p class="text-muted">h2(.h2) &mdash; 32px (2rem) / 38.4px (1.2)</p>
    </div>

    <div class="mb-4">
      <h3>A quick brown fox jumps over the lazy dog.</h3>
      <p class="text-muted">h3(.h3) &mdash; 28px (1.75rem) / 33.6px (1.2)</p>
    </div>

    <div class="mb-4">
      <h4>A quick brown fox jumps over the lazy dog.</h4>
      <p class="text-muted">h4(.h4) &mdash; 24px (1.5rem) / 28.8px (1.2)</p>
    </div>

    <div class="mb-4">
      <h5>A quick brown fox jumps over the lazy dog.</h5>
      <p class="text-muted">h5(.h5) &mdash; 20px (1.25rem) / 24px (1.2)</p>
    </div>

    <div class="mb-4">
      <h6>A quick brown fox jumps over the lazy dog.</h6>
      <p class="text-muted">h6(.h6) &mdash; 16px (1rem) / 19.2px (1.2)</p>
    </div>
  </div>

  <p class="tw-text-gray-600 tw-font-light tw-text-xl">Display</p>

  <div class="rui-bs">
    <div class="mb-4">
      <h1 class="display-1">A quick brown fox jumps over the lazy dog.</h1>
      <p class="text-muted">h1(.h1) &mdash; 80px (5rem) / 96px (1.2)</p>
    </div>
  </div>

</div>
