<div class="my-24">
  <%= render "railsui/shared/sticky_subhead", title: "Toasts", subtitle: "Live example" %>

  <div class="prose dark:prose-invert mb-6">
    <p>This live example displays the toast in the bottom right of the browser.</p>
  </div>

  <div class="rui dark:p-6 dark:rounded-lg">
    <button type="button" class="btn btn-primary" id="liveToastBtn">Give me some toast</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Rails UI</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>
  </div>
<%= content_for :html, flush: true do %>
<button type="button" class="btn btn-primary" id="liveToastBtn">Give me some toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Rails UI</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
<% end %>

<% content_for :js, flush: true do %>
const toastTrigger = document.getElementById('liveToastBtn')
const toastLiveExample = document.getElementById('liveToast')
if (toastTrigger) {
  toastTrigger.addEventListener('click', () => {
    const toast = new bootstrap.Toast(toastLiveExample)
    toast.show()
  })
}
<% end %>

<% content_for :haml, flush: true do %>
%button#liveToastBtn.btn.btn-primary{:type => "button"} Give me some toast
.toast-container.position-fixed.bottom-0.end-0.p-3
  #liveToast.toast{"aria-atomic" => "true", "aria-live" => "assertive", :role => "alert"}
    .toast-header
      %strong.me-auto Rails UI
      %small 11 mins ago
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
    .toast-body
      Hello, world! This is a toast message.
<% end %>

<%= render_snippet %>
</div>
