<!DOCTYPE html>
<html>
  <head>
    <title>Admin | <%%= Railsui.config.application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%%= stylesheet_link_tag "application", "https://unpkg.com/trix@2.0.0/dist/trix.css", "data-turbo-track": "reload" %>

    <%%= render "shared/fonts" %>
    <%%= render "shared/meta" %>
    <%%= yield :head %>
</head>

<body class="rui">
  <%%= render "shared/flash" %>

  <div class="d-md-flex gx-md-6 h-md-100">
    <%%= render "shared/admin/nav" %>

    <div class="retriever-admin-container">
      <%%= render "shared/admin/top_nav" %>

      <%%= yield %>
    </div>
  </div>

  <%%= railsui_launcher if Rails.env.development? %>
</body>
</html>
