<div class="my-6">
<%= render callout do %>
  <p>Be sure to read the Rails UI authentication design patterns overview to understand how we've customized the default Devise views to work nicely inside the  <%= theme_name.humanize %> theme.
<% end %>
</div>
