<div class="my-6">
<%= render callout do %>
  <p>Be sure to read the <%= link_to "Rails UI authentication design patterns", systems_authentication_overview_path %> overview to understand how we've customized the default Devise views to work nicely inside the  <%= theme_name.humanize %> theme.
<% end %>
</div>
