<div class="my-16">

<%= render "railsui/shared/sticky_subhead", title: "Breadcrumbs", subtitle: "Contained" %>

<%= render preview("gray") do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 text-sm bg-white rounded items-center border-slate-300/80 border overflow-hidden sm:py-0 py-4">
  <ol class="flex items-center justify-star space-x-6 px-4 list-none">
    <li class="sm:h-12 flex items-center justify-center">
      <a href="#" class="hover:underline hover:text-slate-600 inline-block pl-2 group" data-controller="prevent" data-action="click->prevent#prevent">
        <%= icon "home", classes: "w-5 h-5 text-slate-400 group-hover:text-slate-600" %>
        <span class="sr-only">Home</span>
      </a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 flex-shrink-0 sm:block hidden"></span>
      <a href="#" class="hover:underline hover:text-slate-600 sm:pl-4" data-controller="prevent" data-action="click->prevent#prevent">Library</a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 flex-shrink-0 sm:block hidden"></span>
      <a href="#" aria-current="page" class="text-indigo-600 sm:pl-4" data-controller="prevent" data-action="click->prevent#prevent">Data</a>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :html, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 text-sm bg-white rounded items-center border-slate-300/80 border overflow-hidden sm:py-0 py-4">
  <ol class="flex items-center justify-star space-x-6 px-4 list-none">
    <li class="sm:h-12 flex items-center justify-center">
      <a href="#" class="hover:underline hover:text-slate-600 inline-block pl-2 group">
        <%%= icon "home", classes: "w-5 h-5 text-slate-400 group-hover:text-slate-600" %>
        <span class="sr-only">Home</span>
      </a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 flex-shrink-0 sm:block hidden"></span>
      <a href="#" class="hover:underline hover:text-slate-600 sm:pl-4">Library</a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 flex-shrink-0 sm:block hidden"></span>
      <a href="#" aria-current="page" class="text-indigo-600 sm:pl-4">Data</a>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :erb, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 text-sm bg-white rounded items-center border-slate-300/80 border overflow-hidden sm:py-0 py-4">
  <ol class="flex items-center justify-star space-x-6 px-4 list-none">
    <li class="sm:h-12 flex items-center justify-center">
      <a href="#" class="hover:underline hover:text-slate-600 inline-block pl-2 group">
        <%%= icon "home", classes: "w-5 h-5 text-slate-400 group-hover:text-slate-600" %>
        <span class="sr-only">Home</span>
      </a>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 flex-shrink-0 sm:block hidden"></span>
      <%%= link_to "Library", "#", class: "hover:underline hover:text-slate-600 sm:pl-4" %>
    </li>
    <li class="sm:h-12 flex items-center space-x-2 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 flex-shrink-0 sm:block hidden"></span>
      <%%= link_to "Data", "#", data: { "aria-current": "page" }, class: "text-indigo-600 sm:pl-4" %>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :haml, flush: true do %>
%nav.my-6.font-medium.flex.text-slate-500.text-sm.bg-white.rounded.items-center.border.overflow-hidden.sm:py-0.py-4{"aria-label" => "breadcrumb", class: "border-slate-300/80"}
  %ol.flex.items-center.justify-star.space-x-6.px-4.list-none
    %li.sm:h-12.flex.items-center.justify-center
      %a.hover:underline.hover:text-slate-600.inline-block.pl-2.group{href: "#"}
        = icon "home", classes: "w-5 h-5 text-slate-400 group-hover:text-slate-600"
        %span.sr-only Home
    %li.sm:h-12.flex.items-center.space-x-2.justify-center
      %span.transform.h-14.w-px.flex-shrink-0.sm:block.hidden{class: "rotate-[20deg] bg-slate-300/50"}
      = link_to "Library", "#", class: "hover:underline hover:text-slate-600 sm:pl-4"
    %li.sm:h-12.flex.items-center.space-x-2.justify-center
      %span.transform.h-14.w-px.flex-shrink-0.sm:block.hidden{class: "rotate-[20deg] bg-slate-300/50"}
      = link_to "Data", "#", data: { "aria-current": "page" }, class: "text-indigo-600 sm:pl-4"
<% end %>

<%= render_snippet %>
</div>
