<div class="tw-mb-16 tw-mt-6">
  <div class="tw-prose-2xl tw-font-light tw-prose-indigo tw-mb-6">
    <p>Breadcrumbs help with everything from search engine optimization to easier navigation.</p>
  </div>

  <div class="rui">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>

<% content_for :html, flush: true do %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.nav "aria-label": "breadcrumb" do %>
  <%%= tag.ol class: "breadcrumb" do %>
    <%%= tag.li "Home", class: "breadcrumb-item active", "aria-current": "page" %>
  <%% end %>
<%% end %>

<%%= tag.nav "aria-label": "breadcrumb" do %>
  <%%= tag.ol class: "breadcrumb" do %>
    <%%= tag.li class: "breadcrumb-item" do %>
      <%%= link_to "Home", "#" %>
    <%% end %>
    <%%= tag.li "Library", class: "breadcrumb-item active", "aria-current": "page" %>
  <%% end %>
<%% end %>

<%%= tag.nav "aria-label": "breadcrumb" do %>
  <%%= tag.ol class: "breadcrumb" do %>
    <%%= tag.li class: "breadcrumb-item" do %>
      <%%= link_to "Home", "#" %>
    <%% end %>
    <%%= tag.li class: "breadcrumb-item" do %>
      <%%= link_to "Library", "#" %>
    <%% end %>
    <%%= tag.li "Data", class: "breadcrumb-item active", "aria-current": "page" %>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item.active{"aria-current" => "page"} Home

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Home", "#"
    %li.breadcrumb-item.active{"aria-current" => "page"} Library

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Home", "#"
    %li.breadcrumb-item
      = link_to "Library", "#"
    %li.breadcrumb-item.active{"aria-current" => "page"} Data
<% end %>

<%= render_snippet %>
</div>

<%= render "railsui/shared/read_more", subject: "breadcrumbs", link: "https://getbootstrap.com/docs/5.2/components/breadcrumb/" %>
