  <div class="prose-2xl font-light dark:prose-invert mb-6 mt-6">
    <p>Flexible and extensible content containers with multiple variants and options.</p>
  </div>

  <div class="prose prose-lg dark:prose-invert mb-6">
    <p>Cards include options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>
  </div>

<% path = "railsui/themes/bootstrap/retriever/components/cards" %>

<%= render "#{path}/base" %>
<%= render "#{path}/header" %>
<%= render "#{path}/styles" %>

<%= render "railsui/shared/read_more", subject: "cards", link: "https://getbootstrap.com/docs/#{Railsui::Default::BOOTSTRAP_VERSION}/components/card/" %>
