<% path = "railsui/themes/bootstrap/retriever/components/tabs" %>

<div class="prose-2xl font-light my-6 dark:prose-invert">
  <p>Extend basic navs to make fancy tabs.</p>
</div>

<%= render "#{path}/base" %>
<%= render "#{path}/pills" %>

<%= render "railsui/shared/read_more", subject: "tabs", link: "https://getbootstrap.com/docs/#{Railsui::Default::BOOTSTRAP_VERSION}/components/navs-tabs/" %>
