<div id="button-default">
<%= render layout: example, locals: { heading: "Defaults", section: "Button" } do %>

<%= render preview('gray') do %>
  <div class="flex items-center gap-3 flex-wrap">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-white">White</button>
  <button type="button" class="btn btn-transparent">Transparent</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
  </div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-white">White</button>
<button type="button" class="btn btn-transparent">Transparent</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= rui :button, label: "Primary Button" %>
<%%= rui :button, label: "Secondary Button", variant: :secondary %>
<%%= rui :button, label: "Dark Button", variant: :dark %>
<%%= rui :button, label: "White Button", variant: :white %>
<%%= rui :button, label: "Transparent Button", variant: :transparent %>
<%%= rui :button, label: "Light Button", variant: :light %>
<%%= rui :button, label: "Danger Button", variant: :danger %>
<%%= rui :button, label: "Link Button", variant: :link %>
<% end %>

<% content_for :bash, flush: true do %>

<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
