<tbody>
  <%% if table_rows.any? %>
    <%% table_rows.each do |row| %>
      <%%= row %>
    <%% end %>
  <%% elsif content.present? %>
    <%%= content %>
  <%% elsif rows.any? %>
    <%% rows.each do |row| %>
      <%%= render Railsui::UI::TableRow.new(row: row, variant: variant) %>
    <%% end %>
  <%% end %>
</tbody>