<% content_for :header_description do %>
  <p>Best practices for displaying and manipulating images.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/content/image" %>
