<% content_for :header_description do %>
  <p>A semantic way of displaying tabular datasets.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/content/table" %>
