<% content_for :header_description do %>
  <p>Fonts and ready-to-use typography patterns.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/content/typography" %>
