<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Expanded display" %>

  <div class="prose dark:prose-invert mb-6">
    <p>If you need a button to span fullwidth add the appropriate Tailwind CSS width and margin classes to existing button classes.</p>
  </div>

<div class="my-6 flex items-center space-x-2 p-6 bg-slate-50 rounded-lg shadow-inner">
  <button class="btn btn-primary w-full justify-center" type="button">Expanded button</button>
</div>

<% content_for :html, flush: true do %>
<button class="btn btn-primary w-full justify-center" type="button">Expanded button</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Expanded button", type: "button", class: "btn btn-primary w-full justify-center" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Expanded button", type: "button", class: "btn btn-primary w-full justify-center"
<% end %>
<%= render_snippet %>
</div>
