<%%= rui :property_card,
    title: "Cozy Mountain A-Frame",
    subtitle: "Nature's Nook",
    image_url: "https://picsum.photos/800/600",
    avatar_url: demo_avatar_url(id: "32", variant: "men"),
    image_alt: "Property image alt tag",
    avatar_alt: "Avatar",
    stats: [
      { icon: "home-modern", text: "3 Listings" },
      { icon: "arrow-path", text: "Syncing" }
    ],
    dropdown_items: [
      { text: "Edit property", url: "#" },
      { text: "Re-sync", url: "#" }
    ] %>
