<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Tabs", subtitle: "Pills" %>

<%= render preview do %>
<div data-controller="tabs" data-tabs-active-tab="py-3 px-4 font-medium bg-indigo-50 inline-block rounded-full text-indigo-600" data-tabs-inactive-tab="py-3 px-4 font-medium rounded-full inline-block">
  <div>
    <nav role="navigation" class="flex items-center text-gray-600 space-x-1">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 bg-indigo-50 inline-block rounded-full text-indigo-600">Activity</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 font-medium rounded-full inline-block">Account</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 font-medium rounded-full inline-block">Billing</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 font-medium rounded-full inline-block">Team</a>
    </nav>
  </div>
   <div class="p-4" data-tabs-target="panel">
    Some activities...
  </div>

  <div class="hidden p-4" data-tabs-target="panel">
    Account information...
  </div>

  <div class="hidden p-4" data-tabs-target="panel">
    Billing information...
  </div>
  <div class="hidden p-4" data-tabs-target="panel">
    Team information...
  </div>
</div>
<% end %>

<% content_for :html, flush: true do %>
<div data-controller="tabs" data-tabs-active-tab="py-3 px-4 font-medium bg-indigo-50 inline-block rounded-full text-indigo-600" data-tabs-inactive-tab="py-3 px-4 font-medium rounded-full inline-block">
  <div>
    <nav role="navigation" class="flex items-center text-gray-600 space-x-1">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 bg-indigo-50 inline-block rounded-full text-indigo-600">Activity</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 font-medium rounded-full inline-block">Account</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 font-medium rounded-full inline-block">Billing</a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-3 px-4 font-medium rounded-full inline-block">Team</a>
    </nav>
  </div>
   <div class="p-4" data-tabs-target="panel">
    Some activities...
  </div>

  <div class="hidden p-4" data-tabs-target="panel">
    Account information...
  </div>

  <div class="hidden p-4" data-tabs-target="panel">
    Billing information...
  </div>
  <div class="hidden p-4" data-tabs-target="panel">
    Team information...
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div data-controller="tabs" data-tabs-active-tab="py-3 px-4 font-medium bg-indigo-50 inline-block rounded-full text-indigo-600" data-tabs-inactive-tab="py-3 px-4 font-medium rounded-full inline-block">
  <div>
    <nav role="navigation" class="flex items-center text-gray-600 space-x-1">
      <%%= link_to "Activity", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 bg-indigo-50 inline-block rounded-full text-indigo-600" %>
      <%%= link_to "Account", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 font-medium rounded-full inline-block" %>
      <%%= link_to "Billing", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 font-medium rounded-full inline-block" %>
      <%%= link_to "Team", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 font-medium rounded-full inline-block" %>
    </nav>
  </div>
   <div class="p-4" data-tabs-target="panel">
    Some activities...
  </div>

  <div class="hidden p-4" data-tabs-target="panel">
    Account information...
  </div>

  <div class="hidden p-4" data-tabs-target="panel">
    Billing information...
  </div>
  <div class="hidden p-4" data-tabs-target="panel">
    Team information...
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%div{"data-controller" => "tabs", "data-tabs-active-tab" => "py-3 px-4 font-medium bg-indigo-50 inline-block rounded-full text-indigo-600", "data-tabs-inactive-tab" => "py-3 px-4 font-medium rounded-full inline-block"}
  %div
    %nav.flex.items-center.text-gray-600.space-x-1{role: "navigation"}
      = link_to "Activity", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 bg-indigo-50 inline-block rounded-full text-indigo-600"
      = link_to "Account", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 font-medium rounded-full inline-block"
      = link_to "Billing", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 font-medium rounded-full inline-block"
      = link_to "Team", "#", action: "click-tabs#change", tabs_target: "tab", class: "py-3 px-4 font-medium rounded-full inline-block"
  .p-4{"data-tabs-target" => "panel"}
    Some activities...
  .hidden.p-4{"data-tabs-target" => "panel"}
    Account information...
  .hidden.p-4{"data-tabs-target" => "panel"}
    Billing information...
  .hidden.p-4{"data-tabs-target" => "panel"}
    Team information...
<% end %>

<% content_for :js, flush: true do %>
// Credit @excid3 and crew - https://github.com/excid3/tailwindcss-stimulus-components/graphs/contributors

import { Controller } from '@hotwired/stimulus'

export default class extends Controller {
  static targets = ['tab', 'panel']

  connect() {
    this.activeTabClasses = (this.data.get('activeTab') || 'active').split(' ')
    this.inactiveTabClasses = (this.data.get('inactiveTab') || 'inactive').split(' ')
  }

  change(event) {
    event.preventDefault()

    // If target specifies an index, use that
    if (event.currentTarget.dataset.index) {
      this.index = event.currentTarget.dataset.index

    // If target specifies an id, use that
    } else if (event.currentTarget.dataset.id) {
      this.index = this.tabTargets.findIndex((tab) => tab.id == event.currentTarget.dataset.id)

    // Otherwise, use the index of the current target
    } else {
      this.index = this.tabTargets.indexOf(event.currentTarget)
    }
  }

  showTab() {
    this.tabTargets.forEach((tab, index) => {
      const panel = this.panelTargets[index]

      if (index === this.index) {
        panel.classList.remove('hidden')
        tab.classList.remove(...this.inactiveTabClasses)
        tab.classList.add(...this.activeTabClasses)
      } else {
        panel.classList.add('hidden')
        tab.classList.remove(...this.activeTabClasses)
        tab.classList.add(...this.inactiveTabClasses)
      }
    })
  }

  get index() {
    return parseInt(this.data.get('index') || 0)
  }

  set index(value) {
    this.data.set('index', (value >= 0 ? value : 0))
    this.showTab()
  }
}

<% end %>

<%= render_snippet html_filename: "tabs.html", erb_filename: "_tabs.html.erb", haml_filename: "_tabs.html.haml", js_filename: "tabs_controller.js" %>
