<div class="mb-16 mt-6">

<%= render "railsui/shared/sticky_subhead", title: "Badges", subtitle: "Outline with opaque fill" %>

<span class="rounded bg-transparent text-neutral-800 font-medium px-2 py-1 text-xs border border-neutral-800/60 bg-neutral-50/60">Gray</span>
<span class="rounded bg-red-50/30 text-red-600 font-medium px-2 py-1 text-xs border border-red-600/60">Red</span>
<span class="rounded bg-orange-50/30 text-orange-600 font-medium px-2 py-1 text-xs border border-orange-600/60">Orange</span>
<span class="rounded bg-yellow-50/30 text-yellow-700 font-medium px-2 py-1 text-xs border border-yellow-500/60">Yellow</span>
<span class="rounded bg-green-50/30 text-green-700 font-medium px-2 py-1 text-xs border border-green-500/60">Green</span>
<span class="rounded bg-blue-50/30 text-blue-800 font-medium px-2 py-1 leading-tight text-xs border border-blue-600/60">Blue</span>
<span class="rounded bg-indigo-50/30 text-indigo-800 font-medium px-2 py-1 leading-tight text-xs border border-indigo-600/60">Indigo</span>
<span class="rounded bg-purple-50/30 text-purple-800 font-medium px-2 py-1 leading-tight text-xs border border-indigo-600/60">Purple</span>
<span class="rounded bg-pink-100 text-pink-800 font-medium px-2 py-1 leading-tight text-xs border border-pink-600/60">Pink</span>
<span class="rounded bg-white-100 text-slate-800 border border-slate-400 font-medium px-2 py-1 leading-tight text-xs">White</span>


<% content_for :html, flush: true do %>
<span class="rounded bg-transparent text-neutral-800 font-medium px-2 py-1 text-xs border border-neutral-800/60 bg-neutral-50/60">Gray</span>
<span class="rounded bg-red-50/30 text-red-600 font-medium px-2 py-1 text-xs border border-red-600/60">Red</span>
<span class="rounded bg-orange-50/30 text-orange-600 font-medium px-2 py-1 text-xs border border-orange-600/60">Orange</span>
<span class="rounded bg-yellow-50/30 text-yellow-700 font-medium px-2 py-1 text-xs border border-yellow-500/60">Yellow</span>
<span class="rounded bg-green-50/30 text-green-700 font-medium px-2 py-1 text-xs border border-green-500/60">Green</span>
<span class="rounded bg-blue-50/30 text-blue-800 font-medium px-2 py-1 leading-tight text-xs border border-blue-600/60">Blue</span>
<span class="rounded bg-indigo-50/30 text-indigo-800 font-medium px-2 py-1 leading-tight text-xs border border-indigo-600/60">Indigo</span>
<span class="rounded bg-purple-50/30 text-purple-800 font-medium px-2 py-1 leading-tight text-xs border border-indigo-600/60">Purple</span>
<span class="rounded bg-pink-100 text-pink-800 font-medium px-2 py-1 leading-tight text-xs border border-pink-600/60">Pink</span>
<span class="rounded bg-white-100 text-slate-800 border border-slate-400 font-medium px-2 py-1 leading-tight text-xs">White</span>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.span "Gray", class: "rounded bg-transparent text-neutral-800 font-medium px-2 py-1 text-xs border border-neutral-800/60 bg-neutral-50/60" %>
<%%= tag.span "Red", class: "rounded bg-red-50/30 text-red-600 font-medium px-2 py-1 text-xs border border-red-600/60" %>
<%%= tag.span "Orange", class: "rounded bg-orange-50/30 text-orange-600 font-medium px-2 py-1 text-xs border border-orange-600/60" %>
<%%= tag.span "Yellow", class: "rounded bg-yellow-50/30 text-yellow-700 font-medium px-2 py-1 text-xs border border-yellow-500/60" %>
<%%= tag.span "Green", class: "rounded bg-green-50/30 text-green-700 font-medium px-2 py-1 text-xs border border-green-500/60" %>
<%%= tag.span "Blue", class: "rounded bg-blue-50/30 text-blue-800 font-medium px-2 py-1 leading-tight text-xs border border-blue-600/60" %>
<%%= tag.span "Indigo", class:"rounded bg-indigo-50/30 text-indigo-800 font-medium px-2 py-1 leading-tight text-xs border border-indigo-600/60" %>
<%%= tag.span "Purple", class:"rounded bg-purple-50/30 text-purple-800 font-medium px-2 py-1 leading-tight text-xs border border-indigo-600/60" %>
<%%= tag.span "Pink", class:"rounded bg-pink-100 text-pink-800 font-medium px-2 py-1 leading-tight text-xs border border-pink-600/60" %>
<%%= tag.span "White", class:"rounded bg-white-100 text-slate-800 border border-slate-400 font-medium px-2 py-1 leading-tight text-xs" %>
<% end %>

<% content_for :haml, flush: true do %>
%span.rounded.bg-transparent.text-neutral-800.font-medium.px-2.py-1.text-xs.border.border-neutral-800/60.bg-neutral-50/60 Gray
%span.rounded.text-red-600.font-medium.px-2.py-1.text-xs.border.bg-red-50/30.border-red-600/60 Red
%span.rounded.text-orange-600.font-medium.px-2.py-1.text-xs.border.bg-orange-50/30.border-orange-600/60 Orange
%span.rounded.text-yellow-700.font-medium.px-2.py-1.text-xs.border.bg-yellow-50/30.border-yellow-500/60 Yellow
%span.rounded.text-green-700.font-medium.px-2.py-1.text-xs.border.bg-green-50/30.border-green-500/60 Green
%span.rounded.text-blue-800.font-medium.px-2.py-1.leading-tight.text-xs.border.bg-blue-50/30.border-blue-600/60 Blue
%span.rounded.text-indigo-800.font-medium.px-2.py-1.leading-tight.text-xs.border.bg-indigo-50/30.border-indigo-600/60 Indigo
%span.rounded.text-purple-800.font-medium.px-2.py-1.leading-tight.text-xs.border.bg-purple-50/30.border-indigo-600/60 Purple
%span.rounded.bg-pink-100.text-pink-800.font-medium.px-2.py-1.leading-tight.text-xs.border.border-pink-600/60 Pink
%span.rounded.bg-white-100.text-slate-800.border.border-slate-400.font-medium.px-2.py-1.leading-tight.text-xs White
<% end %>

<%= render_snippet %>
</div>
