<div class="mb-16">
  <%= render "railsui/shared/sticky_subhead", title: "Dropdowns", subtitle: "Base" %>

  <div class="rui mb-6 dark:p-6 dark:rounded-lg">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>

<% content_for :html, flush: true do %>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="dropdown">
  <%%= button_tag "Dropdown button", type: "button", class: "btn btn-primary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false" %>
  <ul class="dropdown-menu">
    <li>
      <%%= link_to "Action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Another action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Something else", "#", class: "dropdown-item" %>
    </li>
  </ul>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.dropdown
  = button_tag "Dropdown button", type: "button", class: "btn   btn-primary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false"
  %ul.dropdown-menu
    %li
      = link_to "Action", "#", class: "dropdown-item"
    %li
      = link_to "Another action", "#", class: "dropdown-item"
    %li
      = link_to "Something else here", "#", class: "dropdown-item"
<% end %>

<%= render_snippet %>
</div>
