<div id="scaffolds-new">
<%= render layout: example, locals: { heading: "New", section: "Scaffolds" } do %>

<%= render preview(variant="zinc") do %>
<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="mb-4 pb-6 border-b dark:border-zinc-700 border-zinc-200">
    <nav aria-label="breadcrumb" class="my-6 font-heading flex text-zinc-500 dark:text-zinc-200 text-sm">
      <ol class="flex flex-wrap items-center gap-3 list-none m-0 p-0">
        <li>
          <a href="#" class="hover:underline text-primary-600 dark:text-primary-500" data-controller="railsui-prevent" data-action="click->railsui-prevent#prevent">Posts</a>
        </li>
        <li class="flex gap-3">
          <div class="flex items-center">
            <span class="text-zinc-300 dark:text-zinc-500">/</span>
          </div>
          <a href="#" aria-current="page" class="text-zinc-600 dark:text-zinc-100">New</a>
        </li>
      </ol>
    </nav>
    <h1 class="h2">New Post</h1>
    </div>
    <div>
      <form action="#" accept-charset="UTF-8" method="post">

      <div class="form-group">
        <label class="form-label" for="post_title">Title</label>
        <input class="form-input" type="text" name="post[title]" id="post_title">
      </div>

      <div class="form-group">
        <label class="form-label" for="post_content">Content</label>
        <textarea class="form-textarea" name="post[content]" id="post_content"></textarea>
      </div>

      <div class="flex items-center justify-between flex-wrap">
        <div class="sm:flex-1 sm:mb-0 mb-6">
          <input type="submit" name="commit" value="Create Post" class="btn btn-primary" data-controller="railsui-prevent" data-action="click->railsui-prevent#prevent">
        </div>
          <a class="btn btn-transparent" href="#" data-controller="railsui-prevent" data-action="click->railsui-prevent#prevent">Cancel</a>
      </div>
    </form>
  </div>
</div>
<% end %>

<% content_for :example, flush: true do %>
<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="mb-4 pb-6 border-b dark:border-zinc-700">
    <nav aria-label="breadcrumb" class="my-6 font-heading flex text-zinc-500 dark:text-zinc-200 text-sm">
      <ol class="flex flex-wrap items-center gap-3 list-none m-0 p-0">
        <li>
          <%%= link_to "Posts", "#", class: "hover:underline text-primary-600 dark:text-primary-500" %>
        </li>
        <li class="flex gap-3">
          <div class="flex items-center">
            <span class="text-zinc-300 dark:text-zinc-500">/</span>
          </div>
          <%%= link_to "New", "#", class: "text-zinc-600 dark:text-zinc-100", "aria-current": "page" %>
        </li>
      </ol>
    </nav>
    <h1 class="h2">New Post</h1>
  </div>

  <div>
    <%%= render "form", post: @post %>
  </div>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.max-w-3xl.mx-auto.px-4.my-16
  .mb-4.pb-6.border-b.dark:border-zinc-700
    %nav.my-6.font-heading.flex.text-zinc-500.dark:text-zinc-200.text-sm(aria-label="breadcrumb")
      %ol.flex.flex-wrap.items-center.gap-3.list-none.m-0.p-0
        %li
          = link_to "Posts", "#", class: "hover:underline text-primary-600 dark:text-primary-500"
        %li.flex.gap-3
          .flex.items-center
            %span.text-zinc-300.dark:text-zinc-500 /
          = link_to "New", "#", class: "text-zinc-600 dark:text-zinc-100", "aria-current": "page"
    %h1.h2 New Post
  %div
    = render "form", post: @post
<% end %>

<% content_for :ruby do %>

<% end %>
<%= render_snippet active_tab: "erb", erb_filename: "new.html.erb", haml_filename: "new.haml.erb" %>
<% end %>
<% end %>
</div>
