.railsui .static-header {
  transform: matrix(1, -0.212557, 0, 1, 0, 0);
  min-width: 1000px;
  min-height: 1200px;
  transform-origin: 170.4px 545.417px;
  z-index: -1;
  left: 0;
  bottom: -350px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
