pre code.hljs {
  display: block;
  overflow: auto !important;
  padding: 1em;
  font-family: theme("fontFamily.mono");

  @apply scrollbar-track-neutral-950 scrollbar-thumb-neutral-500;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: theme("colors.neutral.100");
}
.hljs-attr,
.hljs-tag {
  color: theme("colors.neutral.100");
}

.hljs-keyword {
  color: #c792ea;
  font-style: italic;
}
.hljs-built_in {
  color: #addb67;
  font-style: italic;
}
.hljs-type {
  color: #82aaff;
}
.hljs-literal {
  color: #ff5874;
}
.hljs-number {
  color: #f78c6c;
}
.hljs-regexp {
  color: #5ca7e4;
}
.hljs-string {
  color: theme("colors.sky.300");
}
.hljs-class {
  color: #ffcb8b;
}
.hljs-function {
  color: #82aaff;
}
.hljs-title {
  color: #dcdcaa;
  font-style: italic;
}
.hljs-params {
  color: #7fdbca;
}
.hljs-comment {
  color: #637777;
  font-style: italic;
}
.hljs-doctag {
  color: #7fdbca;
}
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #82aaff;
}
.hljs-meta .hljs-string {
  color: #ecc48d;
}
.hljs-section {
  color: #82b1ff;
}
.hljs-selector-tag,
.hljs-symbol,
.hljs-subst,
.hljs-name {
  color: theme("colors.pink.400");
}
.hljs-attribute {
  color: #80cbc4;
}
.hljs-variable {
  color: theme("colors.teal.400");
}
.hljs-bullet {
  color: #d9f5dd;
}
.hljs-code {
  color: #80cbc4;
}
.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}
.hljs-strong {
  color: #addb67;
  font-weight: 700;
}
.hljs-formula {
  color: #c792ea;
}
.hljs-link {
  color: #ff869a;
}
.hljs-quote {
  color: #697098;
  font-style: italic;
}
.hljs-selector-id {
  color: #fad430;
}
.hljs-selector-class {
  color: theme("colors.sky.400");
  font-style: italic;
}
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}
.hljs-template-tag {
  color: #c792ea;
}
.hljs-template-variable {
  color: theme("colors.teal.400");
}
.hljs-addition {
  color: #addb67ff;
  font-style: italic;
}
.hljs-deletion {
  color: #ef535090;
  font-style: italic;
}
