.railsui .config-loader {
  opacity: 0;
  visibility: invisible;
  z-index: 0;
  transition: ease-in-out 0.3s all;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #372aac;
}

.railsui .config-loader.config-loader--active {
  visibility: visible;
  z-index: 40;
  transition: ease-in-out 0.3s all;
}
