.railsui {
  .config-loader {
    @apply opacity-0 invisible z-0 transition ease-in-out duration-300 fixed inset-0 w-full h-full bg-indigo-800;
  }

  .config-loader.config-loader--active {
    @apply opacity-100 visible z-40 transition ease-in-out duration-300;
  }
}
