<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "Styles" %>

  <div class="rui dark:p-6 dark:rounded-lg">
    <div class="row g-3">
      <div class="col-md-6">
        <div class="card text-bg-primary mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-secondary mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-success mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-danger mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-warning mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-dark">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-info mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-dark">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-titlek">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-dark mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% content_for :html, flush: true do %>
<div class="row g-3">
  <!-- Primary -->
  <div class="col-md-6">
    <div class="card text-bg-primary mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Secondary -->
  <div class="col-md-6">
    <div class="card text-bg-secondary mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Success -->
  <div class="col-md-6">
    <div class="card text-bg-success mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Danger -->
  <div class="col-md-6">
    <div class="card text-bg-danger mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Warning -->
  <div class="col-md-6">
    <div class="card text-bg-warning mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-dark">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Info -->
  <div class="col-md-6">
    <div class="card text-bg-info mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-dark">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Light -->
  <div class="col-md-6">
    <div class="card text-bg-light mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-titlek">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Dark -->
  <div class="col-md-6">
    <div class="card text-bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>

<% end %>

  <% content_for :haml, flush: true do %>
.row.g-3
/ Primary
.col-md-6
  .card.text-bg-primary.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Primary card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Secondary
.col-md-6
  .card.text-bg-secondary.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Secondary card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Success
.col-md-6
  .card.text-bg-success.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Success card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Danger
.col-md-6
  .card.text-bg-danger.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Danger card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Warning
.col-md-6
  .card.text-bg-warning.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-dark Warning card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Info
.col-md-6
  .card.text-bg-info.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-dark Info card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Light
.col-md-6
  .card.text-bg-light.mb-3
    .card-header Header
    .card-body
      %h5.card-title Light card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Dark
.col-md-6
  .card.text-bg-dark.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Dark card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
<% end %>

<%= render_snippet %>
</div>
