<div id="dropdown-right-aligned">
  <%= render layout: example, locals: { heading: "Right aligned", section: "Dropdown" } do %>

<%= render preview 'gray' do %>
  <div data-controller="railsui-dropdown" class="relative md:inline-block block w-full md:w-auto">
    <button type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="btn btn-white gap-3">
      Right-aligned Dropdown Menu
      <%= icon "chevron-down", class:  "size-3" %>
    </button>
    <ul class="hidden origin-top-right absolute right-0 top-12 dropdown-menu"
    data-railsui-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95">
      <li>
        <a href="#" class="dropdown-item">Bookmark</a>
      </li>
      <li>
        <a href="#" class="dropdown-item">Report</a>
      </li>
      <li>
        <a href="#" class="dropdown-item">Export</a>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="railsui-dropdown" class="relative inline-block">
  <button type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="btn btn-white gap-3">
    Right-aligned Dropdown Menu
    <%%= icon "chevron-down", class:  "size-3" %>
  </button>
  <ul class="hidden origin-top-right absolute right-0 top-12 dropdown-menu" data-railsui-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95">
    <li>
      <a href="#" class="dropdown-item">Bookmark</a>
    </li>
    <li>
      <a href="#" class="dropdown-item">Report</a>
    </li>
    <li>
      <a href="#" class="dropdown-item">Export</a>
    </li>
  </ul>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= rui :dropdown,
  wrapper_classes: "md:inline-block block w-full md:w-auto",
  button: { label: "Right-aligned Dropdown Menu" },
  menu_classes: "absolute dropdown-menu transition transform origin-top-right right-0 top-12",
  items: [
    { name: "Bookmark", url: "#" },
    { name: "Report", url: "#" },
    { name: "Export", url: "#" }
  ] %>
<% end %>

<% content_for :bash, flush: true do %>

<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
