
<%# Card - with action %>
<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "Card with action" %>
  <div class="bg-slate-50 p-6 rounded shadow-inner">
    <div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
      <div class="-mx-6 border-b border-slate-200 px-6 pb-4  mb-4 flex items-center justify-between flex-wrap">
        <h1 class="h3">Posts</h1>
        <a href="#" class="btn btn-primary">New post</a>
       </div>
      <ul class="divide-y divide-slate-100 last-child:pb-0 opacity-25 pointer-events-none select-none">
        <li class="py-3 -mx-6 px-6">
          <a href="#" class="btn-link">Post title 1</a>
          <p>Lorem ipsum dolor sit amet consectetur...</p>
        </li>
        <li class="pt-3 -mx-6 px-6">
         <a href="#" class="btn-link">Post title 2</a>
         <p>Lorem ipsum dolor sit amet consectetur...</p>
        </li>
      </ul>
    </div>
  </div>


<% content_for :html, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
 <div class="-mx-6 border-b border-slate-200 px-6 pb-4  mb-4 flex items-center justify-between flex-wrap">
   <h1 class="h3">Posts</h1>
   <a href="#" class="btn btn-primary">New post</a>
 </div>
 <!-- content -->
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
 <div class="-mx-6 border-b border-slate-200 px-6 pb-4  mb-4 flex items-center justify-between flex-wrap">
   <h1 class="h3">Posts</h1>
   <%%= link_to "New post", new_post_path, class: "btn btn-primary" %>
 </div>
 <!-- content -->
</div>
<% end %>

<% content_for :haml, flush: true do %>
.rounded-lg.shadow-lg.bg-white.p-6.shadow-slate-300/70
  .-mx-6.border-b.border-slate-200.px-6.pb-4.mb-4.flex.items-center.justify-between.flex-wrap
    %h1.h3 Posts
    %a.btn.btn-primary{href: "#"} New post
  / content

<% end %>

<%= render_snippet %>
</div>
