<div class="pl-4 pr-6 py-3.5 flex items-start bg-white border border-neutral-300/70 backdrop-blur-sm gap-4 rounded-lg mb-6 dark:bg-neutral-800/60 dark:border-none">
  <div class="bg-neutral-950 size-7 rounded-full flex items-center justify-center flex-shrink-0 relative top-0.5 border dark:border-neutral-600 border-white">
    <%= icon "r.svg", custom_path: engine_icon_path('r.svg'), class: "size-3 fill-current text-white" %>
  </div>
  <div class="prose prose-neutral dark:prose-invert prose-a:font-semibold prose-a:underline prose-code:font-semibold prose-code:text-[15px] max-w-full">
    <%= yield %>
  </div>
</div>
