<div class="px-4 py-3 rounded-lg bg-indigo-50 flex items-center pointer-events-none select-none text-indigo-900 border border-indigo-300">
    <%= icon "bell", styles: "text-indigo-600 w-5 h-5", variant: :solid %>
    <div class="ml-2">
      <%= yield %>
    </div>
    <%= %>
</div>
