<div class="pr-4 pl-5 py-3 rounded-lg bg-indigo-50 flex items-center select-none text-indigo-900 border border-indigo-300 mb-6 dark:bg-indigo-500/20 dark:border-indigo-400/40 dark:text-indigo-200">
    <div class="w-10 h-10 rounded-full flex items-center justify-center bg-indigo-500/10 dark:bg-indigo-500/30 flex-shrink-0">
      <%= icon "light-bulb", classes: "text-indigo-600 dark:text-indigo-300 relative w-5 h-5 relative", variant: :solid %>
    </div>
    <div class="ml-4 prose-sm prose-indigo dark:prose-invert prose-a:font-semibold prose-a:underline prose-code:font-semibold prose-code:text-[15px] prose-p:leading-snug dark:prose-a:text-indigo-300">
      <%= yield %>
    </div>
    <%= %>
</div>
