<div class="md:rui-pl-10">
  <h4 class="rui-text-neutral-500 dark:rui-text-neutral-400 rui-text-xs rui-mb-2 rui-font-medium"><%= local_assigns[:title] %></h4>
  <nav role="component nav">
    <ul class="rui-font-normal rui-text-[14px] rui-leading-relaxed">
      <%= yield %>
    </ul>
  </nav>
</div>
