<% if notice %>
  <div class="flash flash-notice" role="alert" data-controller="railsui-flash">
    <p><%= sanitize notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="flash flash-alert" role="alert" data-controller="railsui-flash">
    <p><%= sanitize alert %></p>
  </div>
<% end %>
