<% if notice %>
  <div class="rui:bg-linear-to-br rui:from-indigo-700 rui:to-indigo-600 rui:text-white rui:text-center rui:py-1.5 z-50 rui:relative rui:rounded-lg mb-3" role="alert" data-controller="railsui-flash">
    <p><%= sanitize notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="rui:bg-linear-to-br rui:from-red-600 rui:to-red-400 rui:text-white rui:text-center rui:py-1.5 rui:z-50 rui:relative rui:rounded-lg rui:mb-3" role="alert" data-controller="railsui-flash">
    <p><%= sanitize alert %></p>
  </div>
<% end %>
