<% if notice %>
  <div class="tw-bg-gradient-to-br tw-from-indigo-700 tw-to-indigo-600 tw-text-white tw-text-center tw-py-2 tw-z-50 tw-relative" role="alert" data-controller="flash">
    <p><%= sanitize notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="tw-bg-gradient-to-br tw-from-red-600 tw-to-red-400 tw-text-white tw-text-center tw-py-2 tw-z-50 tw-relative" role="alert" data-controller="flash">
    <p><%= sanitize alert %></p>
  </div>
<% end %>
