<footer class="rui:py-4 rui:mt-10 rui:flex rui:items-center rui:justify-between rui:col-span-12">
  <div class="rui:text-[13px] rui:text-neutral-500 rui:dark:text-neutral-400">
    <p class="rui:inline-block">Looking for more components and templates? <%= link_to "Get full access", "https:/railsui.com/pricing", class: "rui:underline rui:dark:hover:text-neutral-300", target: :_blank %></p>
  </div>
</footer>
