<footer class="py-4 mt-10 flex items-center justify-between col-span-12">
  <div class="text-[13px] text-neutral-500 dark:text-neutral-400">
    <p class="inline-block">Looking for more components and templates? <%= link_to "Get full access", "https:/railsui.com/pricing", class: "underline dark:hover:text-neutral-300", target: :_blank %></p>
  </div>

  <%= link_to "https://twitter.com/railsui_", target: :_blank, class: "group block" do %>
    <%= icon "twitter", custom_path: "/twitter.svg", class: "fill-current text-neutral-400 dark:text-neutral-500 size-5 group-hover:text-neutral-900 dark:group-hover:text-neutral-300" %>
  <% end %>
</footer>
