  <%= link_to local_assigns[:path], class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200 hover:text-slate-800 dark:bg-slate-800 dark:border-slate-700 dark:shadow-none dark:hover:shadow-none dark:hover:text-slate-100 dark:hover:border-slate-500 block" do %>
  <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 dark:to-indigo-300 block mb-1 text-lg"><%= local_assigns[:title] %></h3>
  <p><%= local_assigns[:description] %></p>
<% end %>
