  <%= link_to local_assigns[:path], class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200 hover:tw-text-slate-800 dark:tw-bg-slate-800 dark:tw-border-slate-700 dark:tw-shadow-none dark:hover:tw-shadow-none dark:hover:tw-text-slate-100 dark:hover:tw-border-slate-500 tw-block" do %>
  <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 dark:tw-to-indigo-300 tw-block tw-mb-1 tw-text-lg"><%= local_assigns[:title] %></h3>
  <p><%= local_assigns[:description] %></p>
<% end %>
