<div class="divide-y divide-neutral-200/80 dark:divide-neutral-700/80 rounded-lg border-neutral-200/80 dark:border-neutral-700/80 border overflow-clip bg-white dark:bg-neutral-800/50">
  <%= yield %>
</div>
