<div class="rui:divide-y rui:divide-neutral-300/80 rui:dark:divide-neutral-700/80 rui:rounded-lg rui:border-neutral-300/80 rui:dark:border-neutral-700/80 rui:border rui:overflow-clip rui:bg-white rui:dark:bg-neutral-800/50">
  <%= yield %>
</div>
