<div class="dark:bg-neutral-900 dark:text-white bg-white dark:border-neutral-700 border-b py-3 border-neutral-100 px-6">
  <div class="flex flex-wrap items-center">
    <div class="flex-1">
      <%= render "railsui/shared/logo" %>
    </div>

    <%= link_to "Docs", docs_path, class: "block font-medium text-[15px] py-3 px-4 rounded-lg hover:bg-indigo-50 dark:hover:bg-neutral-700 hover:bg-opacity-50", target: :_blank %>
  </div>
</div>
