<div class="rui:dark:bg-linear-to-br rui:bg-white rui:dark:from-slate-900 rui:dark:to-slate-800 rui:p-4 rui:md:p-8 rui:border rui:border-slate-300/80 rui:rounded-xl rui:dark:border-slate-700 rui:min-h-[240px]">
  <%= yield %>
</div>
