<div class="relative border dark:border-slate-700 rounded-lg my-10">
  <div class="flex text-sm text-slate-700 space-x-2 py-4 px-6 border-b bg-gradient-to-b rounded-t-lg from-slate-50 to-white dark:from-slate-800 dark:to-slate-900 dark:border-slate-700 dark:text-slate-300">
    <ul class="text-right">
      <li>From:</li>
      <li>To:</li>
      <li>Date:</li>
      <li>Subject:</li>
    </ul>
    <ul>
      <li>andy<%= "@#{Railsui.parameterized_app_name}.com" %></li>
      <li>saasquatch@railsui.com</li>
      <li><%= Date.today.to_formatted_s(:long) %></li>
      <li class="font-semibold"><%= local_assigns[:subject] %></li>
    </ul>
  </div>

  <div class="rui-mailer p-3 shadow-sm">
    <div class="bg-gradient-to-br from-indigo-400 to-indigo-600 text-white rounded-full px-3 py-1 font-semibold inline-block text-xs absolute top-4 right-4">Email preview</div>

    <%= capture(&block) %>
  </div>
</div>
