<div class="relative border border-neutral-200/80 rounded-lg my-10 bg-white">
  <div class="flex text-sm text-neutral-700 space-x-2 py-4 px-6 border-b border-neutral-200/80 rounded-t-lg">
    <ul class="text-right">
      <li>From:</li>
      <li>To:</li>
      <li>Date:</li>
      <li>Subject:</li>
    </ul>
    <ul>
      <li><%= Railsui.config.support_email || "john.doe@example.com" %></li>
      <li>saasquatch@railsui.com</li>
      <li><%= Date.today.to_formatted_s(:long) %></li>
      <li class="font-semibold"><%= local_assigns[:subject] %></li>
    </ul>
  </div>

  <div class="rui-mailer p-3 pb-10 min-h-[600px]">
    <div class="bg-netural-300 text-neutral-800 rounded-full px-3 py-1 font-semibold inline-block text-xs absolute top-4 right-4">Email preview</div>

    <%= capture(&block) %>
  </div>
</div>
