<div class="fixed bottom-4 right-2 z-50 hidden" data-scroll-target="launcher">
  <button data-action="click->scroll#scrollToTop"  class="btn btn-white rounded-2xl bg-opacity-80 backdrop-blur-lg focus:ring-white/20 hover:bg-opacity-100">
    <%= icon "chevron-up", classes: "w-3 h-3 text-slate-800 mr-2" %>
    <span>Scroll to top</span>
  </button>
</div>
