<div class="rui:fixed rui:bottom-4 rui:right-2 rui:z-50 rui:hidden" data-railsui-scroll-target="launcher">
  <button data-action="click->railsui-scroll#scrollToTop"  class="rui:bg-white/70 rui:px-3 rui:py-2 rui:rounded-full rui:bg-opacity-80 rui:backdrop-blur-lg rui:focus:ring-white/20 rui:hover:bg-opacity-100 rui:flex rui:items-center rui:focus:ring-4 rui:text-neutral-700 rui:hover:text-neutral-800 rui:transition rui:ease-in-out rui:duration-200 rui:dark:bg-neutral-700/60 rui:dark:text-neutral-200 rui:dark:hover:text-neutral-100">
    <%= icon "chevron-up", class: "rui:size-3 rui:text-neutral-800 rui:mr-2 rui:dark:text-neutral-300" %>
    <span>Scroll to top</span>
  </button>
</div>
