<div class="fixed bottom-4 right-2 z-50 hidden" data-railsui-scroll-target="launcher">
  <button data-action="click->railsui-scroll#scrollToTop"  class="bg-white/70 px-3 py-2 rounded-full bg-opacity-80 backdrop-blur-lg focus:ring-white/20 hover:bg-opacity-100 flex items-center focus:ring-4 text-neutral-700 hover:text-neutral-800 transition ease-in-out duration-200 dark:bg-neutral-700/60 dark:text-neutral-200 dark:hover:text-neutral-100">
    <%= icon "chevron-up", class: "size-3 text-neutral-800 mr-2 dark:text-neutral-300" %>
    <span>Scroll to top</span>
  </button>
</div>
