<% content = yield %>

<div data-controller="code" class="tw-mt-5 tw-mb-8 first:tw-mt-0 last:tw-mb-0 tw-bg-slate-800 tw-rounded-xl tw-shadow-lg tw-overflow-hidden dark:tw-ring-1 dark:ring-white/10 dark:tw-ring-inset selection:tw-bg-salmon-500 selection:tw-bg-opacity-25">
  <pre><code data-code-target="snippet"
    <% if local_assigns[:lang].present? %>
    class="language-<%= local_assigns[:lang] %>"
    <% end %>><%= content.to_param.strip %></code></pre>
</div>
