 <div class="tw-sticky tw-top-0 tw-left-0 tw-px-4 -tw-mx-4 tw-py-1 tw-mb-4 tw-bg-white">
    <p class="tw-text-sm tw-text-gray-600"><%= local_assigns[:title] %></p>
    <h2 class="tw-text-gray-900 tw-text-2xl tw-font-bold"><%= local_assigns[:subtitle] %></h2>
    <div class="tw-prose">
      <%= yield %>
    </div>
  </div>
