<div class="tw-px-4 -tw-mx-4 tw-py-1 tw-mb-4 tw-bg-white tw-flex tw-items-center tw-justify-between">
  <div class="tw-flex-1">
    <p class="tw-text-sm tw-text-slate-600"><%= local_assigns[:title] %></p>
    <%= heading id: ("#{local_assigns[:title]}-#{local_assigns[:subtitle]}").parameterize, text: local_assigns[:subtitle], class: "tw-text-slay-900 tw-text-2xl tw-font-bold" %>
    <div class="tw-prose">
      <%= yield %>
    </div>
  </div>

  <% if local_assigns[:preview_link] %>
    <%= link_to "Preview", local_assigns[:preview_link], class: "rui-btn", target: :_blank %>
  <%end %>
</div>
