<li>
  <%= nav_link_to local_assigns[:label], local_assigns[:path], inactive_class: "rui:block rui:pl-3 rui:pr-3 rui:py-1.5 rui:transition-colors rui:duration-200 rui:ease-linear rui:relative rui:border-l-2 rui:border-transparent rui:hover:bg-neutral-100/80 rui:dark:text-neutral-300 rui:dark:hover:bg-neutral-800 rui:dark:hover:text-neutral-200 rui:font-normal -rui:ml-px", active_class: "rui:block rui:pl-3 rui:pr-3 rui:py-1.5 rui:transition-colors rui:duration-200 rui:ease-linear rui:relative rui:border-l-2 rui:border-neutral-800 rui:text-neutral-950 rui:bg-neutral-100/80 rui:dark:text-white rui:dark:border-neutral-50 rui:dark:bg-neutral-800/90 -rui:ml-px" %>
</li>
