<li>
  <%= nav_link_to local_assigns[:label], local_assigns[:path], inactive_class: "block pl-3 pr-3 py-1.5 transition-colors duration-200 ease-linear relative border-l-2 border-transparent hover:bg-neutral-100/80 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:hover:text-neutral-200 font-normal -ml-px", active_class: "block pl-3 pr-3 py-1.5 transition-colors duration-200 ease-linear relative border-l-2 border-neutral-800 text-neutral-950 bg-neutral-100/80 dark:text-white dark:border-neutral-50 dark:bg-neutral-800/90 -ml-px" %>
</li>
