<div class="flex items-center">
  <div class="flex items-center flex-1 space-x-2">
    <div>
      <%= icon "tailwind", custom_path: "/tailwind.svg", class: "fill-current size-5 text-teal-500" %>
    </div>

    <div class="flex items-center space-x-2">
      <h4 class="font-semibold text-sm dark:text-white">Tailwind CSS</h4>
      <%= framework_version_label %>
    </div>
  </div>

  <div class="ml-2 bg-green-50 uppercase tracking-wide text-green-600 font-bold rounded px-1 inline-flex items-center text-[10px]" data-controller="tooltip" data-tippy-content="Active theme">
    <%= icon "paw", custom_path: "/paw.svg", styles: "size-4 fill-current" %>
    <%= Railsui.config.theme.humanize %>
  </div>

</div>
