<div class="mb-16 mt-6">
  <div class="prose-2xl font-light mb-6 dark:prose-invert">
    <p>Button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
  </div>

  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Base" %>
<div class="rui dark:p-6 dark:rounded-lg">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-link">Link</button>
</div>

<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Primary", type: "button", class: "btn btn-primary" %>
<%%= button_tag "Secondary", type: "button", class: "btn btn-secondary" %>
<%%= button_tag "Success", type: "button", class: "btn btn-success" %>
<%%= button_tag "Danger", type: "button", class: "btn btn-danger" %>
<%%= button_tag "Warning", type: "button", class: "btn btn-warning" %>
<%%= button_tag "Info", type: "button", class: "btn btn-info" %>
<%%= button_tag "Light", type: "button", class: "btn btn-light" %>
<%%= button_tag "Dark", type: "button", class: "btn btn-dark" %>
<%%= button_tag "Link", type: "button", class: "btn btn-link" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Primary", type: "button", class: "btn btn-primary"
= button_tag "Secondary", type: "button", class: "btn btn-secondary"
= button_tag "Success", type: "button", class: "btn btn-success"
= button_tag "Danger", type: "button", class: "btn btn-danger"
= button_tag "Warning", type: "button", class: "btn btn-warning"
= button_tag "Info", type: "button", class: "btn btn-info"
= button_tag "Light", type: "button", class: "btn btn-light"
= button_tag "Dark", type: "button", class: "btn btn-dark"
= button_tag "Link", type: "button", class: "btn btn-link"
<% end %>
<%= render_snippet %>
</div>
