<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Sizes" %>

  <div class="prose dark:prose-invert mb-6">Choose from three default buttons sizes or customize with inline styles.</div>

<div class="rui dark:p-6 dark:rounded-lg">
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary">Button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Custom button</button>
</div>

<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary">Button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Custom button</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Large button", type: "button", class: "btn btn-primary btn-lg" %>
<%%= button_tag "Button", type: "button", class: "btn btn-secondary" %>
<%%= button_tag "Small button", type: "button", class: "btn btn-primary btn-sm" %>
<%%= button_tag "Custom", type: "button", class: "btn btn-secondary", style: "--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Large button", type: "button", class: "btn btn-primary btn-lg"
= button_tag "Button", type: "button", class: "btn btn-secondary"
= button_tag "Small button", type: "button", class: "btn btn-primary btn-sm"
= button_tag "Custom", type: "button", class: "btn btn-secondary", style: "--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
<% end %>
<%= render_snippet %>
</div>
