<h1>Content</h1>

<%# TODO:
  1. Themes are sourced from lib/themes/{framework}/{theme_name}
  2. Each theme contains it's own "themed" partial to be rendered after configuration is saved.
  3. Render each theme from gem as opposed to the main client app.

 Example:
<%#= render "railsui/lib/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/content" %>
