<h1 class="tw-font-bold tw-text-4xl tw-mb-6">Design system</h1>
<div class="tw-prose tw-prose-lg tw-prose-indigo">
  <p>A design system is a pre-configured set of standards and patterns to follow as you iterate on the application building process.</p>

  <p>Use this system as a guide but not necessarily a source of truth for exact use cases. It's meant to solve those repeatable problems aimed to help you increase speed and developer happiness.</p>
</div>

<ul class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-4 tw-mt-10">
  <li>
    <%= link_to systems_content_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200 tw-block" do %>
      <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-lg">Content</h3>
      <p>Design patterns for everyday markup and content.</p>
    <% end %>
  </li>
  <li>
    <%= link_to systems_forms_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200 tw-block" do %>
      <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-lg">Forms</h3>
      <p>Inputs, controls, buttons, and more ready for quick use.</p>
    <% end %>
  </li>
  <li>
    <%= link_to systems_forms_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200 tw-block" do %>
      <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-lg">Elements</h3>
      <p>Atomic UI elements ready for your latest app.</p>
    <% end %>
  </li>
  <li>
    <%#= link_to systems_marketing_path, class: "border p-4 rounded-lg bg-white block hover:shadow-lg transition ease-in-out duration" do %>
      <%#<h3 class="font-semibold text-lg">Marketing</h3>
      <p class="mb-3 text-gray-600">Ready-to-use marketing components.</p>

      <span class="text-indigo-600">View more</span>
      <%# end %>
    </li>
  </ul>
