<div class="container mx-auto px-4 md:py-16 py-6 mb-24">
  <article
    class="prose prose-zinc font-heading mx-auto prose-headings:font-semibold prose-p:font-light prose-ul:font-light prose-ol:font-light font-light dark:prose-invert">
    <h1>Privacy Policy</h1>

    <p>Welcome to Shepherd, where we guard your data like a faithful sheepdog guards its flock. This Privacy Policy
      explains how we handle your information. Please remember, this is just a temporary placeholder until our real
      policy is ready, but we couldn't resist making it doggone fun!</p>

    <h3>1. Sniffing Out Your Data</h3>

    <p>Just like a dog's nose, we're super good at sniffing out information. We collect data to improve our web app, but
      we
      promise not to chew on it. The info we gather may include:</p>

    <ul>
      <li>Your email (we'll guard it like a bone)</li>
      <li>Usage data (what you click and wag your tail at)</li>
      <li>Cookies (not the chocolate chip kind)</li>
    </ul>

    <h3>2. Pawsitive Use of Your Data</h3>

    <p>We use your data to make Shepherd pawsitively amazing! We won't sell it to the mailman, promise. Here's how:</p>

    <ul>
      <li>To improve our web app (fetching upgrades)</li>
      <li>To send you important pup-dates</li>
      <li>To protect against fleas (aka fraud)</li>
    </ul>

    <h3>3. Bark-tastic Security</h3>

    <p>We'll guard your data like it's a treasure buried in the yard. Our web app is built with Ruby on Rails, a
      rock-solid fence against unauthorized access. We'll keep the cat burglars away!</p>

    <h3>4. Howlin' Good Cookies</h3>

    <p>Our cookies are as friendly as a Golden Retriever. They help make your Shepherd experience tail-waggingly smooth.
      You can always fetch them from your browser if you want.</p>

    <h3>5. Your Choices</h3>

    <p>You have the power to roll over or sit whenever you want. You can:</p>

    <ul>
      <li>Update your info (like a new collar)</li>
      <li>Unsubscribe from our emails (but we'll miss you)</li>
      <li>Delete your account</li>
    </ul>

    <h3>6. Questions?</h3>

    <p>If you have questions, feedback, or just want to woof at us, reach out to our support team. We're here to help,
      tail-wagging and all!</p>

    <ul>
      <li>
        Email: <a href="mailto:support@railsui.com">support@railsui.com</a>
      </li>
    </ul>

    <h3>7. End of the Leash</h3>

    <p>That's the tail end of our Privacy Policy for now. Remember, this is just a placeholder until the real deal is
      ready. Rest assured, we'll keep your data safe and sound.</p>

    <p>Keep an eye out for updates! We promise the real policy will be just as fun and informative as this one.</p>

    <p>Stay pawsitive and enjoy using Shepherd!</p>
  </article>
</div>

<%= render "rui/shared/footer" %>
