<div class="container mx-auto px-4 md:py-16 py-6 mb-24">
  <article
    class="prose prose-zinc font-heading mx-auto prose-headings:font-semibold prose-p:font-light prose-ul:font-light prose-ol:font-light font-light dark:prose-invert">
    <h1>Terms</h1>

    <p>Welcome to Shepherd! These terms and conditions outline the rules and regulations for using our app.</p>

    <h3>1. Acceptance of Terms</h3>

    <p>By using Shepherd, you agree to comply with these terms and conditions. If you do not agree, please do not use
      our
      app.</p>

    <h3>2. Use of the App</h3>
    <p>You may use Shepherd for personal or business purposes. However, you must not:</p>
    <ul>
      <li>Violate any applicable laws.</li>
      <li>Impersonate others or provide false information.</li>
      <li>Engage in any malicious activity.</li>
      <li>Use the app for any unlawful or unethical purposes.</li>
    </ul>

    <h3>3. Intellectual Property</h3>
    <p>All content and materials in Shepherd are protected by copyright and other intellectual property rights. You may
      not use or reproduce our content without permission.</p>

    <h3>4. Privacy</h3>
    <p>We respect your privacy. Please refer to our Privacy Policy for information on how we collect and use your data.
    </p>
    <h3>5. Disclaimer</h3>
    <p>Shepherd is provided "as is" without any warranties, express or implied. We do not guarantee the accuracy or
      reliability of the app.</p>
    <h3>6. Limitation of Liability</h3>
    <p>We are not liable for any damages or losses resulting from your use of Shepherd.</p>
    <h3>7. Changes to Terms</h3>
    <p>We may update these terms and conditions from time to time. Please review them periodically.</p>
    <h3>8. Contact Us</h3>
    <p>If you have any questions or concerns about these terms, please contact us at <a
        href="mailto:support@railsui.com">support@railsui.com</a>.</p>
  </article>
</div>

<%= render "rui/shared/footer" %>
