<div id="alert-dismissable">
<%= render layout: example, locals: { heading: "Dismissable", section: "Alert" } do %>

<%= render preview 'gray' do %>
<div class="bg-primary-50/90 text-primary-700 rounded p-4 text-sm flex justify-between items-center dark:bg-primary-50/10 dark:text-primary-100">
  <div class="flex-1">
    <p class="text-blue-800 dark:text-primary-300 font-semibold">A dismissible notice</p>
    <p class="leading-snug my-1 pr-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque minus dolor ratione debitis mollitia a.</p>
  </div>
  <button type="button" class="size-8 rounded-full bg-transparent hover:bg-primary-700 transition ease-in-out duration-300 flex items-center justify-center group dark:hover:bg-primary-500">
    <%= icon "x-mark", class: "size-5 text-primary-700 group-hover:text-primary-100 dark:text-primary-300 dark:group-hover:text-primary-100", title: "Dismiss" %>
  </button>
</div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div class="bg-primary-50/90 text-primary-700 rounded p-4 text-sm flex justify-between items-center dark:bg-primary-50/10 dark:text-primary-100">
  <div class="flex-1">
    <p class="text-blue-800 dark:text-primary-300 font-semibold">A dismissible notice</p>
    <p class="leading-snug my-1 pr-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque minus dolor ratione debitis mollitia a.</p>
  </div>
  <button type="button" class="size-8 rounded-full bg-transparent hover:bg-primary-700 transition ease-in-out duration-300 flex items-center justify-center group dark:hover:bg-primary-500">
    <%%= icon "x-mark", class: "size-5 text-primary-700 group-hover:text-primary-100 dark:text-primary-300 dark:group-hover:text-primary-100", title: "Dismiss" %>
  </button>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.div class: "bg-primary-50/90 text-primary-700 rounded p-4 text-sm flex justify-between items-center dark:bg-primary-50/10 dark:text-primary-100" do %>
  <%%= tag.div class: "flex-1" do %>
    <%%= tag.p "A dismissible notice", class: "text-blue-800 dark:text-primary-300 font-semibold" %>
    <%%= tag.p "Lorem ipsum dolor...", class: "leading-snug my-1 pr-4" %>
  <%% end %>

  <%%= tag.button class: "size-8 rounded-full bg-transparent hover:bg-primary-700 transition ease-in-out duration-300 flex items-center justify-center group dark:hover:bg-primary-500", type: "button" do %>
    <%%= icon "x-mark", class: "size-5 text-primary-700 group-hover:text-primary-100 dark:text-primary-300 dark:group-hover:text-primary-100", title: "Dismiss" %>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
.text-primary-700.rounded.p-4.text-sm.flex.justify-between.items-center.dark:text-primary-100{class: "bg-primary-50/90 dark:bg-primary-50/10"}
  .flex-1
    %p.text-blue-800.dark:text-primary-300.font-semibold A dismissible notice
    %p.leading-snug.my-1.pr-4 Lorem ipsum dolor...
  %button.size-8.rounded-full.bg-transparent.hover:bg-primary-700.transition.ease-in-out.duration-300.flex.items-center.justify-center.group.dark:hover:bg-primary-500{type: "button"}
    = icon "x-mark", class: "size-5 text-primary-700 group-hover:text-primary-100 dark:text-primary-300 dark:group-hover:text-primary-100", title: "Dismiss"
<% end %>
<%= render_snippet %>
<% end %>
<% end %>
</div>
