<%# locals:(title: "Faq title") %>
<div class="card">
  <h3 class="mb-3 h6">
    <%= title %>
  </h3>
  <div class="prose prose-netural dark:prose-invert [text-wrap:pretty] max-w-3xl">
    <%= yield %>
  </div>
</div>
