<div class="mb-16 mt-6">

<%= render "railsui/shared/sticky_subhead", title: "Alerts", subtitle: "Dismissible" %>

<div class="bg-indigo-50/90 text-indigo-700 rounded p-4 text-sm flex justify-between items-center dark:bg-indigo-50/10 dark:text-indigo-100">
  <div class="flex-1">
    <p class="text-blue-800 dark:text-indigo-300 font-semibold">A dismissible notice</p>
    <p class="leading-snug my-1 pr-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque minus dolor ratione debitis mollitia architecto officii.</p>
  </div>
  <button type="button" class="w-8 h-8 rounded-full bg-transparent hover:bg-indigo-700 transition ease-in-out duration-300 flex items-center justify-center group dark:hover:bg-indigo-500">
    <%= icon "x-mark", classes: "w-5 h-5 text-indigo-700 group-hover:text-indigo-100 dark:text-indigo-300 dark:group-hover:text-indigo-100", title: "Dismiss" %>
  </button>
</div>

<% content_for :html, flush: true do %>
<div class="bg-indigo-50/90 text-indigo-700 rounded p-4 text-sm flex justify-between items-center dark:bg-indigo-50/10 dark:text-indigo-100">
  <div class="flex-1">
    <p class="text-blue-800 dark:text-indigo-300 font-semibold">A dismissible notice</p>
    <p class="leading-snug my-1 pr-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque minus dolor ratione debitis mollitia architecto officii.</p>
  </div>
  <button type="button" class="w-8 h-8 rounded-full bg-transparent hover:bg-indigo-700 transition ease-in-out duration-300 flex items-center justify-center group dark:hover:bg-indigo-500">
    <%%= icon "x-mark", classes: "w-5 h-5 text-indigo-700 group-hover:text-indigo-100 dark:text-indigo-300 dark:group-hover:text-indigo-100", title: "Dismiss" %>
  </button>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.div class: "bg-indigo-50/90 text-indigo-700 rounded p-4 text-sm flex justify-between items-center dark:bg-indigo-50/10 dark:text-indigo-100" do %>
  <%%= tag.div class: "flex-1" do %>
    <%%= tag.p "A dismissible notice", class: "text-blue-800 dark:text-indigo-300 font-semibold" %>
    <%%= tag.p "Lorem ipsum dolor...", class: "leading-snug my-1 pr-4" %>
  <%% end %>

  <%%= tag.button class: "w-8 h-8 rounded-full bg-transparent hover:bg-indigo-700 transition ease-in-out duration-300 flex items-center justify-center group dark:hover:bg-indigo-500", type: "button" do %>
    <%%= icon "x-mark", classes: "w-5 h-5 text-indigo-700 group-hover:text-indigo-100 dark:text-indigo-300 dark:group-hover:text-indigo-100", title: "Dismiss" %>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
.text-indigo-700.rounded.p-4.text-sm.flex.justify-between.items-center.dark:text-indigo-100{class: "bg-indigo-50/90 dark:bg-indigo-50/10"}
  .flex-1
    %p.text-blue-800.dark:text-indigo-300.font-semibold A dismissible notice
    %p.leading-snug.my-1.pr-4 Lorem ipsum dolor...
  %button.w-8.h-8.rounded-full.bg-transparent.hover:bg-indigo-700.transition.ease-in-out.duration-300.flex.items-center.justify-center.group.dark:hover:bg-indigo-500{type: "button"}
    = icon "x-mark", classes: "w-5 h-5 text-indigo-700 group-hover:text-indigo-100 dark:text-indigo-300 dark:group-hover:text-indigo-100", title: "Dismiss"
<% end %>
<%= render_snippet %>
</div>
