<div class="mb-16 mt-6">

<%= render "railsui/shared/sticky_subhead", title: "Alerts", subtitle: "With accent border" %>

<div class="bg-blue-50/90 text-blue-700 border-l-4 border-blue-700 py-4 pr-4 pl-6 text-sm">
  <p class="text-blue-800 font-semibold">Upcoming maintenance alert</p>
  <p class="leading-snug my-1">We'll be undergoing routine maintenance on Jan 1, 2024 that affects your account. <a href="#" class="font-semibold underline text-blue-700 hover:no-underline hover:text-blue-800">Read more about the update here</a>.</p>
</div>

<% content_for :html, flush: true do %>
<div class="bg-blue-50/90 text-blue-700 border-l-4 border-blue-700 py-4 pr-4 pl-6 text-sm">
  <p class="text-blue-800 font-semibold">Upcoming maintenance alert</p>
  <p class="leading-snug my-1">We'll be undergoing routine maintenance on Jan 1, 2024 that affects your account. <a href="#" class="font-semibold underline text-blue-700 hover:no-underline hover:text-blue-800">Read more about the update here</a>.</p>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.div class: "bg-blue-50/90 text-blue-700 border-l-4 border-blue-700 py-4 pr-4 pl-6 text-sm" do %>
  <%%= tag.p "Upcoming maintenance alert", class: "text-blue-800 font-semibold" %>
  <%%= tag.p  class: "leading-snug my-1" do %>
    We'll be undergoing routine maintenance on Jan 1, 2024 that affects your account. <%%= link_to "Read more about the update here", "#", class: "font-semibold underline text-blue-700 hover:no-underline hover:text-blue-800" %>.
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
= tag.div class:"bg-indigo-50/90 text-indigo-700 p-4 rounded text-sm sm:flex items-center justify-between"
  = tag.div class: "flex items-start justify-between space-x-3"
    = icon "star", styles: "text-indigo-500 w-5 h-5 flex-shrink-0", variant: :solid
    = tag.div class: "flex-1"
      = tag.p "Your response is requested", class: "text-indigo-800 font-semibold"
      = tag.p "Vote for your favorite dog breed today.", class: "leading-snug my-1"
  = tag.div class: "flex items-center space-x-6 sm:pt-0 pt-3 sm:pl-0 sm:pr-4 pr-0 pl-8"
      = link_to "Vote now", "#", class: "btn-link"
      = link_to "Dismiss", "#", class: "btn-link"
<% end %>

<%= render_snippet %>
</div>
