<div class="mb-16 mt-6">

<%= render "railsui/shared/sticky_subhead", title: "Alerts", subtitle: "With actions" %>

<div class="bg-indigo-50/90 text-indigo-700 p-4 rounded text-sm sm:flex items-center justify-between">
  <div class="flex items-start justify-between space-x-3">
    <%= icon "star", styles: "text-indigo-500 w-5 h-5 flex-shrink-0", variant: :solid %>
    <div class="flex-1">
      <p class="text-indigo-800 font-semibold">Your response is requested</p>
      <p class="leading-snug my-1">Vote for your favorite dog breed today.</p>
    </div>
  </div>
  <div class="flex items-center space-x-6 sm:pt-0 pt-3 sm:pl-0 sm:pr-4 pr-0 pl-8">
    <a href="#" class="btn-link">Vote now</a>
    <a href="#" class="btn-link">Dismiss</a>
  </div>
</div>

<% content_for :html, flush: true do %>
<div class="bg-indigo-50/90 text-indigo-700 p-4 rounded text-sm sm:flex items-center justify-between">
  <div class="flex items-start justify-between space-x-3">
    <%%= icon "star", styles: "text-indigo-500 w-5 h-5 flex-shrink-0", variant: :solid %>
    <div class="flex-1">
      <p class="text-indigo-800 font-semibold">Your response is requested</p>
      <p class="leading-snug my-1">Vote for your favorite dog breed today.</p>
    </div>
  </div>
  <div class="flex items-center space-x-6 sm:pt-0 pt-3 sm:pl-0 sm:pr-4 pr-0 pl-8">
    <a href="#" class="btn-link">Vote now</a>
    <a href="#" class="btn-link">Dismiss</a>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.div class:"bg-indigo-50/90 text-indigo-700 p-4 rounded text-sm sm:flex items-center justify-between" do %>
  <%%= tag.div class: "flex items-start justify-between space-x-3" do %>
    <%%= icon "star", styles: "text-indigo-500 w-5 h-5 flex-shrink-0", variant: :solid %>
    <%%= tag.div class: "flex-1"  do %>
      <%%= tag.p "Your response is requested", class: "text-indigo-800 font-semibold" %>
      <%%= tag.p "Vote for your favorite dog breed today.", class: "leading-snug my-1" %>
    <%% end %>
  <%% end %>
  <%%= tag.div class: "flex items-center space-x-6 sm:pt-0 pt-3 sm:pl-0 sm:pr-4 pr-0 pl-8" do %>
    <%%= link_to "Vote now", "#", class: "btn-link" %>
    <%%= link_to "Dismiss", "#", class: "btn-link" %>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
= tag.div class:"bg-indigo-50/90 text-indigo-700 p-4 rounded text-sm sm:flex items-center justify-between"
  = tag.div class: "flex items-start justify-between space-x-3"
    = icon "star", styles: "text-indigo-500 w-5 h-5 flex-shrink-0", variant: :solid
    = tag.div class: "flex-1"
      = tag.p "Your response is requested", class: "text-indigo-800 font-semibold"
      = tag.p "Vote for your favorite dog breed today.", class: "leading-snug my-1"
  = tag.div class: "flex items-center space-x-6 sm:pt-0 pt-3 sm:pl-0 sm:pr-4 pr-0 pl-8"
      = link_to "Vote now", "#", class: "btn-link"
      = link_to "Dismiss", "#", class: "btn-link"
<% end %>

<%= render_snippet %>
</div>
