<div class="mb-16 mt-6">

<%= render "railsui/shared/sticky_subhead", title: "Alerts", subtitle: "With list" %>

<div class="bg-rose-50/90 text-rose-700 p-4 rounded flex items-start justify-between space-x-3 text-sm">
  <%= icon "shield-exclamation", classes: "text-rose-500 w-5 h-5 flex-shrink-0", variant: :solid %>
  <div class="flex-1">
    <p class="text-rose-800 font-semibold">There was 1 error trying to process your request.</p>
    <ul class="list-disc pl-4 mt-1">
      <li>Your name must be as cool as Andy.</li>
    </ul>
  </div>
</div>

<% content_for :html, flush: true do %>
<div class="bg-rose-50/90 text-rose-700 p-4 rounded flex items-start justify-between space-x-3 text-sm">
  <%%= icon "shield-exclamation", classes: "text-rose-500 w-5 h-5 flex-shrink-0", variant: :solid %>
  <div class="flex-1">
    <p class="text-rose-800 font-semibold">There was 1 error trying to process your request.</p>
    <ul class="list-disc pl-4 mt-1">
      <li>Your name must be as cool as Andy.</li>
    </ul>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.div class:"bg-rose-50/90 text-rose-700 p-4 rounded flex items-start justify-between space-x-3 text-sm" do %>
  <%%= icon "shield-exclamation", classes: "text-rose-500 w-5 h-5 flex-shrink-0", variant: :solid %>
  <%%= tag.div class: "flex-1"  do %>
    <%%= tag.p "There was 1 error trying to process your request.", class: "text-rose-800 font-semibold" %>
    <%%= tag.ul class: "list-disc pl-4 mt-1" do %>
      <%%= tag.li "Your name must be as cool as Andy" %>
    <%% end %>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
.text-rose-700.p-4.rounded.flex.items-start.justify-between.space-x-3.text-sm.bg-rose-50/90
  = icon "shield-exclamation", classes: "text-rose-5400 w-5 h-5 flex-shrink-0", variant: :solid
  .flex-1
    %p.text-rose-800.font-semibold There was 1 error trying to process your request.
    %ul.list-disc.pl-4.mt-1
      %li Your name must be as cool as Andy.
<% end %>

<%= render_snippet %>
</div>
