<div class="mb-16 mt-6">
  <%= render "railsui/shared/sticky_subhead", title: "Popovers", subtitle: "Enable" %>

<div class="prose dark:prose-invert mb-6">
  <p>To use popovers you must first intiitlaize them with JavaScript. Bootstrap makes this easy by combining another library called <%= link_to "Popper", "https://popper.js.org/", target: :_blank %>.</p>
</div>


<div class="mb-16">
<% content_for :js, flush: true do %>
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
<% end %>

  <%= render_snippet active_tab: "js" %>
</div>
