<div class="mb-16">
  <%= render "railsui/shared/sticky_subhead", title: "Popovers", subtitle: "Example" %>

<div class="prose mb-6 prose-indigo dark:prose-invert">
  <p>Use JavaScript similar to the snippet above to render the following live popover. Titles are set via <%= code("data-bs-title") %> and body content is set via <%= code("data-bs-content") %>.</p>
</div>

<div class="rui dark:p-6 dark:rounded-lg">
  <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
</div>

<p class="mt-3 text-sm text-gray-700 dark:text-slate-500">Note: This example will only work if the JS snippet above is initialized in your app.</p>

<% content_for :js, flush: true do %>

<% end %>

<% content_for :html, flush: true do %>
<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Click to toggle popover", type: :button, class: "btn btn-lg btn-danger", data: { bs_toggle: "popover", bs_title: "Popover title", bs_content: "And here's some amazing content. It's very engaging. Right?" } %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Click to toggle popover", type: :button, class: "btn btn-lg btn-danger", data: { bs_toggle: "popover", bs_title: "Popover title", bs_content: "And here's some amazing content. It's very engaging. Right?" }
<% end %>
<%= render_snippet %>
</div>
</div>
