<% content_for :header_description do %>
<p>A drop-in WYSIWYG solution built for Rails developers in mind.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/action_text" %>
