<% content_for :header_description do %>
<p>A toggle switch that lets the user switch between two states. Usually of a boolean values.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/checkbox" %>
