<% content_for :header_description do %>
<p>An element resembling a form input field for displaying or entering data group with other controls or accents.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/input_group" %>
