<% content_for :header_description do %>
<p>An element resembling a form input field for displaying or entering data.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/input" %>
