<% content_for :header_description do %>
<p>Radio buttons allow selecting one option from a set of mutually exclusive choices.</p>
<% end %>
<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/radio" %>
