<% content_for :header_description do %>
<p>Quickly prototype a resource using scaffolded UI.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/scaffolding" %>
