<% content_for :header_description do %>
<p>A control that allows the user to toggle between checked and not checked.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/switch" %>
