<% content_for :header_description do %>
<p>Pre-styled validation UI for form error responses.</p>
<% end %>

<%= render "railsui/shared/header" %>
<%= render "railsui/themes/#{Railsui.config.theme}/forms/validation" %>
