<div id="button-base">
<%= render layout: example, locals: { heading: "Base", section: "Button" } do %>

<%= render preview('neutral') do %>
  <div class="flex items-center gap-3 flex-wrap font-tiktok">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-white">White</button>
  <button type="button" class="btn btn-ghost">Ghost</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
  </div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-white">White</button>
<button type="button" class="btn btn-ghost">Ghost</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Primary", type: "button", class: "btn btn-primary" %>
<%%= button_tag "Dark", type: "button", class: "btn btn-dark" %>
<%%= button_tag "White", type: "button", class: "btn btn-white" %>
<%%= button_tag "Ghost", type: "button", class: "btn btn-ghost" %>
<%%= button_tag "Danger", type: "button", class: "btn btn-danger" %>
<%%= button_tag "Link", type: "button", class: "btn btn-link" %>
<% end %>

<% content_for :rui, flush: true do %>
<%%= rui :button, "Primary", variant: :primary %>
<%%= rui :button, "Dark", variant: :dark %>
<%%= rui :button, "White", variant: :white %>
<%%= rui :button, "Ghost", variant: :ghost %>
<%%= rui :button, "Danger", variant: :danger %>
<%%= rui :button, "Link", variant: :link %>
<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
