<div id="button-expanded">
<%= render layout: example, locals: { heading: "Expanded display", section: "Button" } do %>

  <div class="prose prose-neutral dark:prose-invert mb-6">
    <p>If you need a button to span fullwidth add the appropriate Tailwind CSS width and margin classes to existing button classes.</p>
  </div>

<%= render preview 'gray' do %>
  <button class="btn btn-primary w-full justify-center" type="button">Expanded button</button>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<button class="btn btn-primary w-full justify-center" type="button">Expanded button</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Expanded button", type: "button", class: "btn btn-primary w-full justify-center" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Expanded button", type: "button", class: "btn btn-primary w-full justify-center"
<% end %>
<%= render_snippet %>
<% end %>
<% end %>
</div>
