<% content_for :fullwidth, true %>

<div class="lg:tw-px-6">
  <%= render "railsui/shared/header" %>
</div>

<%= render "railsui/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/authentication/edit" %>
