<% content_for :fullwidth, true %>

<div class="lg:px-6">
  <%= render "railsui/shared/header" %>
</div>

<%= render "railsui/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/authentication/read_before" %>
<%= render "railsui/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/authentication/signup" %>
