<%= render callout do %>
<p class="m-0 ml-2"><a href="https://stimulus.hotwired.dev/" target="_blank">Stimulus.js</a>, <a href="https://github.com/stimulus-use/stimulus-use">stimulus-use</a>, and <a href="https://github.com/getrailsui/railsui-stimulus">railsui-stimulus</a> are <strong>already installed</strong> as dependencies of the <%= Railsui::config.theme.titleize %> theme.</p>
<% end %>
