<div id="card-team-member">
<%= render layout: example, locals: { heading: "Team Member", section: "Card" } do %>
<div class="w-[362px]">
  <div class="card">
    <div class="flex justify-center ">
      <%= image_tag demo_avatar_url(variant: :women, id: 95), alt: "Maya Rodriguez", class: "mb-6 rounded-full size-20" %>
    </div>
    <div class="text-center">
      <h3 class="mb-2 h5">Maya Rodriguez</h3>
      <p class="mb-4 text-neutral-600 dark:text-neutral-400">CTO & Co-founder</p>
      <div class="prose-sm prose prose-neutral dark:prose-invert">
        <p>
          AI systems architect with 15 years of experience building scalable machine learning platforms.
        </p>
      </div>
    </div>
  </div>
</div>


<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div class="card">
  <div class="flex justify-center ">
    <%= image_tag demo_avatar_url(variant: :women, id: 95), alt: "Maya Rodriguez", class: "mb-6 rounded-full size-20" %>
  </div>
  <div class="text-center">
    <h3 class="mb-2 h5">Maya Rodriguez</h3>
    <p class="mb-4 text-neutral-600 dark:text-neutral-400">CTO & Co-founder</p>
    <div class="prose-sm prose prose-neutral dark:prose-invert">
      <p>
        AI systems architect with 15 years of experience building scalable machine learning platforms.
      </p>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="card">
  <div class="flex justify-center ">
    <%%= image_tag demo_avatar_url(variant: :women, id: 95), alt: "Maya Rodriguez", class: "mb-6 rounded-full size-20" %>
  </div>
  <div class="text-center">
    <h3 class="mb-2 h5">Maya Rodriguez</h3>
    <p class="mb-4 text-neutral-600 dark:text-neutral-400">CTO & Co-founder</p>
    <div class="prose-sm prose prose-neutral dark:prose-invert">
      <p>
        AI systems architect with 15 years of experience building scalable machine learning platforms.
      </p>
    </div>
  </div>
</div>
<% end %>


<%= render_snippet(active_tab: :erb) %>
<% end %>
<% end %>
</div>
