<div id="card-with-action">
<%= render layout: example, locals: { heading: "With action", section: "Card" } do %>

<div class="rounded-md bg-white p-6 dark:bg-neutral-800 dark:text-white border border-neutral-300/70 dark:border-neutral-600/70">
  <div class="-mx-6 border-b border-neutral-200 dark:border-neutral-700 px-6 pb-4 mb-4 flex items-center justify-between flex-wrap">
    <h1 class="text-2xl font-extrabold text-neutral-900 dark:text-neutral-100 tracking-tight">Posts</h1>
    <a href="#" class="btn btn-primary">New post</a>
    </div>
  <ul class="divide-y divide-neutral-300/70 dark:divide-neutral-600/70 last-child:pb-0 pointer-events-none select-none">
    <li class="py-3 -mx-6 px-6">
      <a href="#" class="btn-link">Post title 1</a>
      <p class="text-neutral-700 dark:text-neutral-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
    <li class="pt-3 -mx-6 px-6">
      <a href="#" class="btn-link">Post title 2</a>
      <p class="text-neutral-700 dark:text-neutral-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
  </ul>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<div class="rounded-md bg-white p-6 dark:bg-neutral-800 dark:text-white border border-neutral-300/70 dark:border-neutral-600/70">
  <div class="-mx-6 border-b border-neutral-200 dark:border-neutral-700 px-6 pb-4 mb-4 flex items-center justify-between flex-wrap">
    <h1 class="text-2xl font-extrabold text-neutral-900 dark:text-neutral-100 tracking-tight">Posts</h1>
    <%%= link_to "New post", "#", class: "btn btn-primary" %>
  </div>
  <ul class="divide-neutral-300/70 dark:divide-neutral-600/70 last-child:pb-0 pointer-events-none select-none">
    <li class="py-3 -mx-6 px-6">
      <%%= link_to "Post title 1", "#", class: "btn-link" %>
      <p class="text-neutral-700 dark:text-neutral-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
    <li class="pt-3 -mx-6 px-6">
      <%%= link_to "Post title 2", "#", class: "btn-link" %>
      <p class="text-neutral-700 dark:text-neutral-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
  </ul>
</div>
<% end %>


<%= render_snippet(active_tab: :erb) %>
<% end %>
<% end %>
</div>
