<div id="card-with-action">
<%= render layout: example, locals: { heading: "With action", section: "Card" } do %>

<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70">
  <div class="-mx-6 border-b border-slate-200 dark:border-slate-700 px-6 pb-4 mb-4 flex items-center justify-between flex-wrap">
    <h1 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Posts</h1>
    <a href="#" class="btn btn-primary">New post</a>
    </div>
  <ul class="divide-y divide-slate-300/70 dark:divide-slate-600/70 last-child:pb-0 pointer-events-none select-none">
    <li class="py-3 -mx-6 px-6">
      <a href="#" class="btn-link">Post title 1</a>
      <p class="text-slate-700 dark:text-slate-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
    <li class="pt-3 -mx-6 px-6">
      <a href="#" class="btn-link">Post title 2</a>
      <p class="text-slate-700 dark:text-slate-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
  </ul>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70">
  <div class="-mx-6 border-b border-slate-200 dark:border-slate-700 px-6 pb-4 mb-4 flex items-center justify-between flex-wrap">
    <h1 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Posts</h1>
    <%%= link_to "New post", "#", class: "btn btn-primary" %>
  </div>
  <ul class="divide-slate-300/70 dark:divide-slate-600/70 last-child:pb-0 pointer-events-none select-none">
    <li class="py-3 -mx-6 px-6">
      <%%= link_to "Post title 1", "#", class: "btn-link" %>
      <p class="text-slate-700 dark:text-slate-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
    <li class="pt-3 -mx-6 px-6">
      <%%= link_to "Post title 2", "#", class: "btn-link" %>
      <p class="text-slate-700 dark:text-slate-400">Lorem ipsum dolor sit amet consectetur...</p>
    </li>
  </ul>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.rounded-md.bg-white.p-6.dark:bg-slate-800.dark:text-white.border(class="border-slate-300/70 dark:border-slate-600/70")
  .-mx-6.border-b.border-slate-200.dark:border-slate-700.px-6.pb-4.mb-4.flex.items-center.justify-between.flex-wrap
    %h1.text-2xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight Posts
    = link_to "New post", "#", class: "btn btn-primary"
  %ul.last-child:pb-0.pointer-events-none.select-none(class="divide-slate-300/70 dark:divide-slate-600/70")
    %li.py-3.-mx-6.px-6
      = link_to "Post title 1", "#", class: "btn-link"
      %p.text-slate-700.dark:text-slate-400 Lorem ipsum dolor sit amet consectetur...
    %li.pt-3.-mx-6.px-6
      = link_to "Post title 2", "#", class: "btn-link"
      %p.text-slate-700.dark:text-slate-400 Lorem ipsum dolor sit amet consectetur...
<% end %>

<%= render_snippet(active_tab: :erb) %>
<% end %>
<% end %>
</div>
