<% if notice %>
  <div class="flash" role="alert">
    <p><%= sanitize notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="flash flash-warning" role="alert">
    <p><%= sanitize alert %></p>
  </div>
<% end %>
