<div class="rounded-lg border min-h-[200px] rounded-t relative shadow-inner <%= local_assigns[:dark] == true ? "border-slate-700 bg-slate-800" : "dark:border-slate-700 dark:bg-slate-800 border-slate-200 bg-slate-50"  %>">
  <div class="w-full border-b  <%= local_assigns[:dark] == true ? "rounded-t border-slate-700": "border-slate-200 rounded-t dark:border-slate-700" %>">
    <%= yield %>
  </div>
  <span class="absolute top-[50%] -mb-7 left-[50%] -ml-7">
    <%= icon "r", custom_path: engine_icon_path("r.svg"), class: "w-14 h-14  fill-current #{local_assigns[:dark] == true ? "text-slate-900/50" : "text-slate-200/70 dark:text-slate-900"}" %>
  </span>
</div>
