<div class="rounded-xl border min-h-[200px] relative shadow-inner <%= local_assigns[:dark] == true ? "border-zinc-700 bg-zinc-800" : "dark:border-zinc-700 dark:bg-zinc-800 border-zinc-200 bg-zinc-50"  %>">
  <div class="w-full <%= local_assigns[:dark] == true ? "rounded-t-xl border-zinc-700": "border-zinc-200 rounded-t-xl dark:border-zinc-700" %>">
    <%= yield %>
  </div>
  <span class="absolute top-[50%] -mb-7 left-[50%] -ml-7">
    <%= icon "r", custom_path: engine_icon_path("r.svg"), class: "w-14 h-14  fill-current #{local_assigns[:dark] == true ? "text-zinc-900/50" : "text-zinc-200/70 dark:text-zinc-900"}" %>
  </span>
</div>
