<div id="image-object-fill">
<%= render layout: example, locals: { heading: "Object Fill" } do %>

<div class="prose prose-netural dark:!prose-invert mb-6 max-w-full">
  <p>Stretch an element's content to fit its container <code>.object-fill</code>.</p>
</div>

<%= render preview('gray') do %>
  <div class="flex items-center justify-center">
    <img src="https://picsum.photos/900/700" alt="" class="object-fill h-48 w-96 rounded-lg shadow-xl bg-blue-100">
  </div>
<% end %>

<% content_for :example, flush: true do %>
<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-fill h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-500...">
  <%%= image_tag "#", class: "object-fill h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-fill h-48 w-96"
<% end %>
<%= render_snippet %>
<% end %>
<% end %>
</div>
