 <div class="prose-lg prose-slate dark:prose-invert my-6 max-w-full">
  <p>While not a <em>true</em> accordion we favor the  <%= code("<details>") %> and <%= code("<summary>") %> HTML tags to produce a <em>good enough</em> solution to a similar problem traditional accordions solve.</p>
</div>

<% path = "railsui/themes/tailwind/hound/components/accordions" %>

<%= render "#{path}/contained" %>
<%= render "#{path}/flush" %>
