<div class="prose-lg prose-slate dark:prose-invert max-w-full my-6">
  <p>Use badges to call attention to areas of a page or experience. Badges can be combined with other elements or used independently with comparable impact.</p>
</div>

<% path = "railsui/themes/tailwind/hound/components/badges" %>

<%= render "#{path}/basic" %>
<%= render "#{path}/pill" %>
<%= render "#{path}/outline" %>
<%= render "#{path}/tag" %>

