<% path = "railsui/themes/tailwind/hound/components/breadcrumbs" %>

<div data-controller="smooth" class="relative">
  <div class="py-3 bg-white border-b border-slate-200">
    <p class="uppercase tracking-wide text-xs font-semibold mt-1  mb-1 text-indigo-600">Quicklinks</p>
    <p class="mb-3 text-xs text-slate-600">Quickly navigate to different breadcrumb patterns below</p>

    <nav role="nav jump">
      <ul class="flex flex-wrap items-center gap-2">
        <li>
          <a href="#breadcrumbs-simple" data-action="click->smooth#scroll" class="text-sm py-1 px-3 rounded font-medium inline-block bg-white border border-slate-300 hover:shadow-sm hover:border-slate-400">Simple</a>
        </li>
        <li>
          <a href="#breadcrumbs-contained" data-action="click->smooth#scroll" class="text-sm py-1 px-3 rounded font-medium inline-block bg-white border border-slate-300 hover:shadow-sm hover:border-slate-400">Contained</a>
        </li>
        <li>
          <a href="#breadcrumbs-dark-simple" data-action="click->smooth#scroll" class="text-sm py-1 px-3 rounded font-medium inline-block bg-white border border-slate-300 hover:shadow-sm hover:border-slate-400">Dark simple</a>
        </li>
        <li>
          <a href="#breadcrumbs-dark-contained" data-action="click->smooth#scroll" class="text-sm py-1 px-3 rounded font-medium inline-block bg-white border border-slate-300 hover:shadow-sm hover:border-slate-400">Dark contained</a>
        </li>
      </ul>
    </nav>
  </div>

  <%= render "#{path}/simple" %>
  <%= render "#{path}/contained" %>
  <%= render "#{path}/dark" %>
  <%= render "#{path}/dark_contained" %>
</div>
