<% path = "railsui/themes/tailwind/hound/components/toasts" %>

<%= render callout do %>
  <p>Toasts require custom JavaScript that doesn't come with the current version of Rails UI.</p>
<% end %>

<%= render "#{path}/simple" %>
