<% path = "railsui/themes/tailwind/hound/components/toasts" %>

<div class="mt-6">
<%= render callout do %>
  <p>Toasts require custom JavaScript that doesn't come with the current version of Rails UI.</p>
<% end %>
</div>

<%= render "#{path}/simple" %>
