<div id="typography-fonts">
  <div class="my-6">
    <%= render "railsui/shared/code_example_heading", title: "Typography", subtitle: "Fonts" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-16">
    <div>
      <h4 class="font-medium mb-3">Headings</h3>
      <p>
        <%= link_to "https://fonts.google.com/specimen/Lexend", target: :_blank, class: button_classes(variant: "white") do %>
          <span>Lexend</span>
          <%= icon "arrow-up-right", class:  "size-3" %>
        <% end %>
      </p>
    </div>
    <div>
      <h4 class="font-medium mb-3">Body</h4>
      <p>
        <%= link_to "#", class: button_classes(variant: "white") do %>
          <span>System</span>
        <% end %>
      </p>
    </div>
  </div>

  <div class="prose-sm prose-neutral dark:prose-invert">
    <p><strong>Tip</strong>: To change fonts, you'll need to reference new them in both <code>app/views/rui/shared/_fonts.html.erb</code> and <code>app/assets/stylesheets/railsui/theme.css</code>.</p>
  </div>
</div>
