<div class="mb-16 mt-6">
  <%= render "railsui/shared/sticky_subhead", title: "Toasts", subtitle: "Simple" %>

<div class="relative bg-zinc-100 border-zinc-200 border rounded-xl p-10 w-full min-h-[280px] dark:bg-zinc-900 dark:border-zinc-700">
  <div aria-live="assertive" class="pointer-events-none absolute flex items-center justify-end px-4 py-6 sm:p-6 top-0 right-0 left-0 w-full">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-zinc-800 dark:border dark:border-zinc-600/80">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <%= icon "hand-thumb-up", classes: "w-6 h-6 text-blue-500 dark:text-blue-400" %>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-[15px] text-zinc-900 dark:text-white font-heading">Successfully liked!</p>
              <p class="mt-1 text-sm text-zinc-500 dark:text-zinc-300">John Doe has been notified.</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button type="button" class="btn btn-transparent btn-sm rounded-full w-8 h-8 absolute top-8 right-8 group">
                <span class="sr-only">Close</span>
                <%= icon "x-mark", classes: "w-5 h-5 flex-shrink-0 text-zinc-400 group-hover:text-zinc-500" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :html, flush: true  do %>
<div class="relative bg-zinc-100 border-zinc-200 border rounded-xl p-10 w-full min-h-[280px] dark:bg-zinc-900 dark:border-zinc-700">
  <div aria-live="assertive" class="pointer-events-none absolute flex items-center justify-end px-4 py-6 sm:p-6 top-0 right-0 left-0 w-full">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-zinc-800 dark:border dark:border-zinc-600/80">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <%%= icon "hand-thumb-up", classes: "w-6 h-6 text-blue-500 dark:text-blue-400" %>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-[15px] text-zinc-900 dark:text-white font-heading">Successfully liked!</p>
              <p class="mt-1 text-sm text-zinc-500 dark:text-zinc-300">John Doe has been notified.</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button type="button" class="btn btn-transparent btn-sm rounded-full w-8 h-8 absolute top-8 right-8 group">
                <span class="sr-only">Close</span>
                <%%= icon "x-mark", classes: "w-5 h-5 flex-shrink-0 text-zinc-400 group-hover:text-zinc-500" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<% content_for :erb, flush: true  do %>
<div class="relative bg-zinc-100 border-zinc-200 border rounded-xl p-10 w-full min-h-[280px] dark:bg-zinc-900 dark:border-zinc-700">
  <div aria-live="assertive" class="pointer-events-none absolute flex items-center justify-end px-4 py-6 sm:p-6 top-0 right-0 left-0 w-full">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-zinc-800 dark:border dark:border-zinc-600/80">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <%%= icon "hand-thumb-up", classes: "w-6 h-6 text-blue-500 dark:text-blue-400" %>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-[15px] text-zinc-900 dark:text-white font-heading">Successfully liked!</p>
              <p class="mt-1 text-sm text-zinc-500 dark:text-zinc-300">John Doe has been notified.</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button type="button" class="btn btn-transparent btn-sm rounded-full w-8 h-8 absolute top-8 right-8 group">
                <span class="sr-only">Close</span>
                <%%= icon "x-mark", classes: "w-5 h-5 flex-shrink-0 text-zinc-400 group-hover:text-zinc-500" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.relative.bg-zinc-100.border-zinc-200.border.rounded-xl.p-10.w-full.dark:bg-zinc-900.dark:border-zinc-700{class: "min-h-[280px]"}
  .pointer-events-none.absolute.flex.items-center.justify-end.px-4.py-6.sm:p-6.top-0.right-0.left-0.w-full{"aria-live" => "assertive"}
    .pointer-events-auto.w-full.max-w-sm.overflow-hidden.rounded-xl.bg-white.shadow-lg.ring-1.ring-black.ring-opacity-5.dark:bg-zinc-800.dark:border{class: "dark:border-zinc-600/80"}
      .p-4
        .flex.items-start
          .flex-shrink-0
            = icon "hand-thumb-up", classes: "w-6 h-6 text-blue-500 dark:text-blue-400"
          .ml-3.w-0.flex-1{class: "pt-0.5"}
            %p.text-zinc-900.dark:text-white.font-heading{class: "text-[15px]"} Successfully liked!
            %p.mt-1.text-sm.text-zinc-500.dark:text-zinc-300 John Doe has been notified.
          .ml-4.flex.flex-shrink-0
            %button.btn.btn-transparent.btn-sm.rounded-full.w-8.h-8.absolute.top-8.right-8.group{type: "button"}
              %span.sr-only Close
              = icon "x-mark", classes: "w-5 h-5 flex-shrink-0 text-zinc-400 group-hover:text-zinc-500"
<% end %>

<%= render_snippet %>
