<div class="rui:grid rui:grid-cols-1 rui:md:grid-cols-11 rui:text-sm rui:items-center rui:border-b-2 rui:border-neutral-200 rui:py-6 rui:mb-6 rui:dark:border-neutral-700">
  <div class="text-sm rui:font-bold rui:sm:col-span-5 rui:md:text-lg">Helper</div>
  <div class="text-sm rui:font-bold rui:sm:col-span-6 rui:md:text-lg">Path Controller#Action</div>
</div>
<div data-railsui-search-target="resultList">
  <%= yield %>
</div>
