
<div class="grid grid-cols-11 text-sm items-center border-b-2 border-slate-200 py-6 mb-6 dark:border-slate-700">
  <div class="font-bold sm:col-span-5 text-lg">Helper</div>
  <div class="font-bold sm:col-span-6 text-lg">Path Controller#Action</div>
</div>
<div data-search-target="resultList">
  <div class="divide-slate-200 divide-y dark:divide-slate-700">
    <%= yield %>
  </div>
</div>
