<div class="grid grid-cols-1 md:grid-cols-11 text-sm items-center border-b-2 border-neutral-200 py-6 mb-6 dark:border-neutral-700">
  <div class="font-bold sm:col-span-5 md:text-lg text-sm">Helper</div>
  <div class="font-bold sm:col-span-6 md:text-lg text-sm">Path Controller#Action</div>
</div>
<div data-railsui-search-target="resultList">
  <%= yield %>
</div>
