<!-- Quick Actions -->
<div class="py-10">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="card">
      <%= render "rui/shared/common/feature_card",
        icon_name: "chat-bubble-left-right",
        icon_class: "size-5 text-neutral-600",
        icon_container_class: "size-12 bg-neutral-100",
        title: "Getting Started",
        title_class: "h6 font-medium my-1",
        description: "Learn the basics of using Corgie AI",
        button_text: "Read Guide",
        button_class: "btn btn-primary",
        button_url: "#"
      %>
    </div>

    <div class="card">
      <%= render "rui/shared/common/feature_card",
        icon_name:"code-bracket",
        icon_class: "size-5 text-green-600",
        icon_container_class: "size-12 bg-green-100",
        title: "API Documentation",
        title_class: "h6 font-medium my-1",
        description: "Integrate Corgie AI into your apps",
        button_text: "View Docs",
        button_class: "btn btn-primary",
        button_url: "#"
      %>
    </div>

    <div class="card">
      <%= render "rui/shared/common/feature_card",
        icon_name:"envelope",
        icon_class: "size-5 text-orange-600",
        icon_container_class: "size-12 bg-orange-100",
        title: "Contact Support",
        title_class: "h6 font-medium my-1",
        description: "Get help from our team",
        button_text: "Contact Us",
        button_class: "btn btn-primary",
        button_url: "#"
      %>
    </div>
  </div>
</div>
