<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Tabs", subtitle: "Pills" %>
  <div class="rui dark:p-6 dark:rounded-lg">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled>Disabled</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">Home...</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">Profile...</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">Contact...</div>
      <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">Disabled...</div>
    </div>
  </div>

<% content_for :html, flush: true do %>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled>Disabled</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">Home...</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">Profile...</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">Contact...</div>
  <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">Disabled...</div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist"}
  %li.nav-item{:role => "presentation"}
    %button#pills-home-tab.nav-link.active{"aria-controls" => "pills-home", "aria-selected" => "true", "data-bs-target" => "#pills-home", "data-bs-toggle" => "pill", :role => "tab", :type => "button"} Home
  %li.nav-item{:role => "presentation"}
    %button#pills-profile-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-bs-target" => "#pills-profile", "data-bs-toggle" => "pill", :role => "tab", :type => "button"} Profile
  %li.nav-item{:role => "presentation"}
    %button#pills-contact-tab.nav-link{"aria-controls" => "pills-contact", "aria-selected" => "false", "data-bs-target" => "#pills-contact", "data-bs-toggle" => "pill", :role => "tab", :type => "button"} Contact
  %li.nav-item{:role => "presentation"}
    %button#pills-disabled-tab.nav-link{"aria-controls" => "pills-disabled", "aria-selected" => "false", "data-bs-target" => "#pills-disabled", "data-bs-toggle" => "pill", :disabled => "disabled", :role => "tab", :type => "button"} Disabled
#pills-tabContent.tab-content
  #pills-home.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", :role => "tabpanel", :tabindex => "0"} Home...
  #pills-profile.tab-pane.fade{"aria-labelledby" => "pills-profile-tab", :role => "tabpanel", :tabindex => "0"} Profile...
  #pills-contact.tab-pane.fade{"aria-labelledby" => "pills-contact-tab", :role => "tabpanel", :tabindex => "0"} Contact...
  #pills-disabled.tab-pane.fade{"aria-labelledby" => "pills-disabled-tab", :role => "tabpanel", :tabindex => "0"} Disabled...
<% end %>

<% content_for :js, flush: true do %>

<% end %>

<%= render_snippet %>
</div>
