<% path = "railsui/themes/#{Railsui.config.theme.downcase}/components/toasts" %>

<div class="mt-6">
<%= render callout do %>
  <p>Toasts require custom JavaScript that doesn't come with the current version of Rails UI.</p>
<% end %>
</div>

<%= render "#{path}/simple" %>

<%= system_pagination(prev_path: systems_components_tabs_path, prev_text: "Tabs", next_path: systems_components_tooltips_path, next_text: "Tooltips") %>
