<%%= rui :badge, label: "Active" %>

<hr class="my-8">

<%%= rui :badge, label: "Error", color: :red %>

<hr class="my-8">

<%%= rui :badge, label: "Success", color: :green, variant: :pill %>

<hr class="my-8">

<%%= rui :badge, color: :blue, variant: :outline do %>
  Slot Content
<%% end %>
