<div class="retriever-admin-navbar container-fluid">
  <header class="navbar navbar-expand-md navbar-light h-100 w-100 flex-md-wrap">
    <div class="d-flex align-items-center justify-content-between w-100">
      <%= link_to root_path, class: "navbar-brand ps-md-1 pb-md-4 flex-grow-1 w-100" do %>
        <%= image_tag Railsui.theme_logo_url, alt: "#{Railsui.config.theme.humanize} logo", class: "logo" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-target="#retrieverNav" data-bs-toggle="collapse"
        aria-controls="retrieverNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="navbar-toggle-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <title>bars-3-bottom-left</title>
          <g fill="none">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
        </svg>
      </button>
    </div>
    <nav role="admin navigation" class="row g-0 h-100 w-100 mt-2 mt-lg-0">
      <div class="navbar-collapse collapse" id="retrieverNav">
        <div class="flex-column align-items-lg-start h-100 w-100">
          <ul class="nav navbar-nav flex-column w-100 gap-1">
            <%= render "shared/admin/nav_links" %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
