<div class="bg-teal-50 text-teal-700 dark:bg-teal-800/50 dark:text-teal-100 p-3 rounded text-base flex items-center space-x-3 border border-teal-500/20 my-3">
  <%= render_svg "paw", styles: "w-10 h-10 text-teal-500 dark:text-teal-300/50 fill-current flex-shrink-0" %>
  <p class="m-0"><%= yield %></p>
</div>
