<div class="tw-bg-teal-50 tw-text-teal-700 tw-p-3 tw-rounded tw-text-base tw-flex tw-items-center tw-space-x-3 tw-border tw-border-teal-500/20 tw-my-3">
  <%= render_svg "paw", styles: "tw-w-10 tw-h-10 tw-text-teal-500 tw-fill-current tw-flex-shrink-0" %>
  <p class="tw-m-0"><%= yield %></p>
</div>
