<details class="group py-4 marker:content-['']"><summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 dark:text-slate-200 group-open:text-indigo-600 group-open:dark:text-indigo-400 [&amp;::-webkit-details-marker]:hidden"><%= local_assigns[:question] %><svg class="mt-0.5 ml-4 h-6 w-6 flex-none stroke-slate-700 dark:stroke-slate-400 group-open:stroke-indigo-500" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 12H6"></path><path class="group-open:hidden" d="M12 6v12"></path></svg></summary>
  <div class="pt-6 pb-6">
    <div class="prose prose-slate dark:prose-invert max-w-none prose-a:font-semibold prose-a:text-indigo-600 dark:prose-a:text-indigo-400 hover:prose-a:text-indigo-500 prose-ol:list-decimal">
      <%= yield %>
    </div>
  </div>
</details>
