
<div class="tw-prose tw-prose-lg tw-prose-indigo prose-h1:tw-font-bold tw-mb-6">
  <h1>Design system</h1>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi corrupti inventore rerum eligendi ex provident, dolores obcaecati nemo possimus, pariatur iusto veritatis beatae recusandae qui dignissimos expedita. Quidem, obcaecati facere!</p>
</div>



<%= render "railsui/docs/pagination", back: docs_themes_path, back_label: "Themes", next: docs_updates_path, next_label: "Updates" %>
