<div class="tw-prose tw-prose-lg tw-prose-indigo prose-h1:tw-font-bold tw-mb-10">
  <h1>Themes</h1>
</div>

<%= render "railsui/docs/pagination", back: docs_configuration_path, back_label: "Configuration", next: docs_design_system_path, next_label: "Design system" %>
