<div class="prose prose-lg prose-h1:font-bold mb-10 dark:prose-invert dark:prose-a:text-indigo-400">

  <%= heading text: "Themes", tag: "h1", id: "docs_themes" %>

  <p>Rails UI themes represent a collection of design patterns put to use. You can use them as is or tweak a theme using the combined design system to extend your application further.</p>

  <h3>Easy editing</h3>

  <p>Because everything is integrated to your application you can freely edit any CSS and customize colors, typography, components, and more.</p>

  <p>Rails UI configuration steps are extremely simple thus making customization later limitless.</p>

  <p>Because we can't predict every view you will need in the future we start with the basics with regards to more common pages many applications need.</p>

  <h3>What's in a given theme?</h3>

  <p>A theme consists of pre-built views (optional) and a design system. Combine the two and you have professionally designed application ready for scale.</p>

  <p>As Rails UI evolves, an additional series of optional views can accompany each them saving a bunch of time and effort for those not already savvy with design.</p>

</div>

<%= render "railsui/docs/pagination", back: docs_configuration_path, back_label: "Configuration", next: docs_design_system_path, next_label: "Design system" %>
