<div class="tw-prose tw-prose-lg tw-prose-indigo prose-h1:tw-font-bold tw-mb-10">
  <h1>Updates</h1>
</div>


<%= render "railsui/docs/pagination", back: docs_design_system_path, back_label: "Design system" %>
