<%# locals: (path: "#", icon: "", text: "") %>
<li>
  <%= link_to path, class: "flex flex-col items-center justify-center w-full hover:bg-neutral-100 dark:hover:bg-neutral-800 rounded-lg p-4 group transition ease-in-out duration-300 bg-neutral-200/40 hover:bg-neutral-200 h-[130px] text-base dark:bg-neutral-700/30", target: :_blank do %>
    <div class="size-10 flex items-center justify-center shrink-0">
      <%= icon icon, class: "stroke-current size-7 text-[var(--color-rails)]" %>
    </div>
    <span><%= text %></span>
  <% end %>
</li>
