<ul class="md:flex block items-center flex-wrap space-x-0 md:space-x-3 md:text-base text-lg md:leading-normal leading-relaxed space-y-1 md:space-y-0 sm:mb-0 mb-4">
  <li>
    <%%= nav_link_to "Menu item", "#", class: "rui-nav-link" %>
  </li>
  <!-- Add more links here -->
</ul>
