# frozen_string_literal: true

module Railsui
  class NavigationRightComponent < RailsuiComponent
  def initialize(**tag_options)
    @tag_options = tag_options
  end

  private

  attr_reader :tag_options

  def list_classes
    "md:flex block items-center flex-wrap space-x-0 md:space-x-2 md:text-base text-lg md:leading-normal leading-relaxed space-y-1 md:space-y-0"
  end
  
  def list_attributes
    attrs = { class: list_classes }
    merge_attributes(attrs, **tag_options)
  end
  end
end