<div class="mb-16 mt-6">

<%= render "railsui/shared/sticky_subhead", title: "Badges", subtitle: "Pill" %>

<span class="rounded-full bg-neutral-100 text-neutral-800 font-medium px-2 py-1 text-xs">Gray</span>
<span class="rounded-full bg-red-100 text-red-800 font-medium px-2 py-1 text-xs">Red</span>
<span class="rounded-full bg-orange-100 text-orange-700 font-medium px-2 py-1 text-xs">Orange</span>
<span class="rounded-full bg-yellow-100 text-yellow-700 font-medium px-2 py-1 text-xs">Yellow</span>
<span class="rounded-full bg-green-100 text-green-800 font-medium px-2 py-1 text-xs">Green</span>
<span class="rounded-full bg-blue-100 text-blue-800 font-medium px-2 py-1 leading-tight text-xs">Blue</span>
<span class="rounded-full bg-indigo-100 text-indigo-800 font-medium px-2 py-1 leading-tight text-xs">Indigo</span>
<span class="rounded-full bg-purple-100 text-purple-800 font-medium px-2 py-1 leading-tight text-xs">Purple</span>
<span class="rounded-full bg-pink-100 text-pink-800 font-medium px-2 py-1 leading-tight text-xs">Pink</span>
<span class="rounded-full bg-white text-slate-800 border border-slate-200 font-medium px-2 py-1 leading-tight text-xs">White</span>


<% content_for :html, flush: true do %>
<span class="rounded-full bg-neutral-100 text-neutral-800 font-medium px-2 py-1 text-xs">Gray</span>
<span class="rounded-full bg-red-100 text-red-800 font-medium px-2 py-1 text-xs">Red</span>
<span class="rounded-full bg-orange-100 text-orange-700 font-medium px-2 py-1 text-xs">Orange</span>
<span class="rounded-full bg-yellow-100 text-yellow-700 font-medium px-2 py-1 text-xs">Yellow</span>
<span class="rounded-full bg-green-100 text-green-800 font-medium px-2 py-1 text-xs">Green</span>
<span class="rounded-full bg-blue-100 text-blue-800 font-medium px-2 py-1 leading-tight text-xs">Blue</span>
<span class="rounded-full bg-indigo-100 text-indigo-800 font-medium px-2 py-1 leading-tight text-xs">Indigo</span>
<span class="rounded-full bg-purple-100 text-purple-800 font-medium px-2 py-1 leading-tight text-xs">Purple</span>
<span class="rounded-full bg-pink-100 text-pink-800 font-medium px-2 py-1 leading-tight text-xs">Pink</span>
<span class="rounded-full bg-white text-slate-800 border border-slate-200 font-medium px-2 py-1 leading-tight text-xs">White</span>
<% end %>

<% content_for :erb, flush: true do %>
<%%= content_tag :span, "Gray", class: "rounded-full bg-neutral-100 text-neutral-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Red", class: "rounded-full bg-red-100 text-red-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Orange", class: "rounded-full bg-orange-100 text-orange-700 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Yellow", class: "rounded-full bg-neutral-100 text-yellow-700 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Green", class: "rounded-full bg-green-100 text-green-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Blue", class: "rounded-full bg-blue-100 text-blue-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Indigo", class: "rounded-full bg-indigo-100 text-indigo-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Purple", class: "rounded-full bg-purple-100 text-purple-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "Pink", class: "rounded-full bg-pink-100 text-pink-800 font-medium px-2 py-1 text-xs" %>
<%%= content_tag :span, "White", class: "rounded-full bg-white text-slate-800 border border-slate-200 font-medium px-2 py-1 leading-tight text-xs" %>
<% end %>

<% content_for :haml, flush: true do %>
%span.rounded-full.bg-neutral-100.text-neutral-800.font-medium.px-2.py-1.text-xs Gray
%span.rounded-full.bg-red-100.text-red-800.font-medium.px-2.py-1.text-xs Red
%span.rounded-full.bg-orange-100.text-orange-700.font-medium.px-2.py-1.text-xs Orange
%span.rounded-full.bg-yellow-100.text-yellow-700.font-medium.px-2.py-1.text-xs Yellow
%span.rounded-full.bg-green-100.text-green-800.font-medium.px-2.py-1.text-xs Green
%span.rounded-full.bg-blue-100.text-blue-800.font-medium.px-2.py-1.leading-tight.text-xs Blue
%span.rounded-full.bg-indigo-100.text-indigo-800.font-medium.px-2.py-1.leading-tight.text-xs Indigo
%span.rounded-full.bg-purple-100.text-purple-800.font-medium.px-2.py-1.leading-tight.text-xs Purple
%span.rounded-full.bg-pink-100.text-pink-800.font-medium.px-2.py-1.leading-tight.text-xs Pink
%span.rounded-full.bg-white.text-slate-800.border.border-slate-200.font-medium.px-2.py-1.leading-tight.text-xs White
<% end %>

<%= render_snippet %>
</div>
