<div>
  <a href="<%= @href %>"
     class="px-4 py-[.4rem] hover:text-primary-600 block dark:hover:text-primary-300"
     <%= tag.attributes(html_attributes) %>>
    <%= @label || content %>
  </a>
</div>