<%%= rui :breadcrumb, items: [
  { name: "Home", url: root_path },
  { name: "Docs", url: "#" },
  {
    name: "More",
    icon: "chevron-down",
    dropdown: [
      { name: "Blog", url: "#" },
      { name: "Changelog", url: "#" }
    ]
  },
  { name: "Current Page", active: true }
], classes: "mb-4" %>
