<div class="flex items-center relative pb-6 border-b">
  <%= check_box_tag "checkAll", "1", false, class: "form-input-switch", data: { action: "pages#checkAll" } %>
  <%= label_tag "checkAll", "Check all" %>

</div>
