<%= render "railsui/admin/field_layout" do %>
  <% content_for :explainer, flush: true do %>

  <% end %>

  <div class="py-2">
    <%= f.button "Save changes", id: "config_button", class: "px-4 py-2 text-white bg-gradient-to-br from-indigo-800 via-indigo-600 to-salmon-500 font-semibold text-center rounded transform shadow inline-block hover:bg-gradient-to-tl hover:-translate-y-px transition ease-in-out duration-300 text-[15px]", data: {configuration_target: "submit" } %>

    <p class="text-sm mt-3 text-slate-500 dark:text-slate-300">Saving will automatically restart your app and install any dependencies.</p>
  </div>

  <div data-configuration-target="saving" class="hidden fixed inset-0 w-full h-full bg-indigo-800 z-40">
    <div class="flex flex-col justify-center h-full items-center relative z-50">
      <div class="mb-6">
        <%= render "railsui/shared/logo_light" %>
      </div>
      <h3 class="text-xl text-white font-bold text-center mb-3">Saving changes...</h3>
      <%= render_svg "loading", styles: "w-10 h-10" %>
    </div>
    <canvas id="canvas" data-controller="canvas" class="fixed inset-0 w-full h-full"></canvas>
  </div>
<% end %>
