<%= render "railsui/admin/field_layout" do %>
  <% content_for :explainer, flush: true do %>

  <% end %>

  <div class="tw-py-2">
    <%= f.button "Save changes", id: "config_button", class: "tw-px-4 tw-py-2 tw-text-white tw-bg-gradient-to-br tw-from-indigo-800 tw-via-indigo-600 tw-to-salmon-500 tw-font-semibold tw-text-center tw-rounded tw-transform tw-shadow tw-inline-block hover:tw-bg-gradient-to-tl hover:-tw-translate-y-px tw-transition tw-ease-in-out tw-duration-300 tw-text-[15px]", data: {configuration_target: "submit" } %>

    <p class="tw-text-sm tw-mt-3 tw-text-slate-500 dark:tw-text-slate-300">Saving will automatically restart your app and install any dependencies.</p>
  </div>

  <div data-configuration-target="saving" class="tw-hidden tw-fixed tw-inset-0 tw-w-full tw-h-full tw-bg-indigo-800 tw-z-40">
    <div class="tw-flex tw-flex-col tw-justify-center tw-h-full tw-items-center tw-relative tw-z-50">
      <div class="tw-mb-6">
        <%= render "railsui/shared/logo_light" %>
      </div>
      <h3 class="tw-text-xl tw-text-white tw-font-bold tw-text-center tw-mb-3">Saving changes...</h3>
      <%= render_svg "loading", styles: "tw-w-10 tw-h-10" %>
    </div>
    <canvas id="canvas" data-controller="canvas" class="tw-fixed tw-inset-0 tw-w-full tw-h-full"></canvas>
  </div>
<% end %>
