<%= render "railsui/admin/field_layout" do %>
  <%= content_for :explainer do %>
    <%= heading text: "Overview", id: "configuration_overview", tag: "h3", class: "tw-font-semibold tw-text-xl tw-mb-3" %>
    <p class="text-sm text-slate-700">What Rails UI does and doesn't do.</p>
  <% end %>
  <div class="tw-leading-relaxed tw-text-lg tw-p-6 tw-rounded-lg tw-bg-white tw-border tw-border-slate-100 tw-shadow-sm">
    <div class="tw-prose tw-prose-indigo">
      <p>For best results, use Rails UI for brand new Ruby on Rails applications.</p>
      <p class="tw-italic">Once configured Rails UI will:</p>
      <ol>
        <li>Generate a custom configuration yaml file <code class="tw-text-base dark:tw-text-yellow-500 tw-text-red-400">railsui.yml</code> that's required to theme your new app.</li>
        <li>Install dependencies and any necessary assets.</li>
        <li>Generate a custom tailored design system for repeatable web elements. Use this system as a design direction when creating new features. This includes typography, font elements, and SVG icons.</li>
        <li>
          Optionally install marketing components and templates (i.e. About us, Pricing). Use these as a starting point.
        </li>
        <li>
          Install scaffold templates that follow the theme and CSS framework you chose
        </li>
      </ol>
    </div>
  </div>
<% end %>
