<%= render "railsui/admin/field_layout" do %>
  <%= content_for :explainer do %>

  <% end %>
  <div class="p-3 bg-slate-300/20 text-center rounded-lg dark:bg-slate-800 dark:border-slate-700 border">
    <p class="italic">Heads up: Rails UI is only meant for brand new Ruby on Rails applications at this time.</p>
  </div>
<% end %>
