<div id="devise-password-changed">
<%= render layout: example, locals: { heading: "Change password", section: "Mailers / Devise" } do %>

<%= email_viewer("Password changed") do %>
  <%= render layout: "railsui/themes/#{Railsui.config.theme.downcase}/mailers/mailer_preview" do %>

    <p>Hi john.doe@example.com,</p>

    <p>We're contacting you to notify you that your password has been changed.</p>

  <% end %>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :erb, flush: true do %>
<!-- app/views/devise/mailer/password_changed.html.erb -->
<p>Hi <%%= @resource.email %>,</p>

<p>We're contacting you to notify you that your password has been changed.</p>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/mailer/password_changed.haml.erb
%p
  Hi #{@resource.email},
%p We're contacting you to notify you that your password has been changed.
<% end %>
<%= render_snippet active_tab: "erb", erb_filename: "password_changed.html.erb", haml_filename: "password_changed.haml.erb" %>
<% end %>
<% end %>
</div>
